/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0;
  color: #fff;
  background-color: #000;
  
}
h1 {
  /* font-size: 30px;*/ 
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
 margin-top: 0; 
}
.navbar-brand {
/*background-image:url('../assets/images/rick-maxwell-signature-01.png');
  background-position:top 3em;
  background-repeat: no-repeat;*/
  font-size: 20px;
}
.navbar-inverse .navbar-brand {
color: #c2c2c2;
}
.navbar {
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a {
color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #c2c2c2;
background-color: #080808;
}
.dropdown-menu {
background-color:rgba(40,41,41, 1);
padding: 5px 7px;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: #ffffff;
text-decoration: none;
background-color: #080808;
}
.dropdown-header {
    color: #c2c2c2;
}

.navbar-collapse.in {
overflow-y: hidden;
overflow-x: hidden;
}
.container .works {
    min-width: 400px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
#myCarousel .carousel {
  margin-bottom: 90px; 
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
#myCarousel .carousel .item {
 background-color:#beb4b4;
 height: 450px;
}
#myCarousel .carousel-inner > .item > img {
  resize: vertical;
  top: 0;
  left: 0;
  height: 450px;
}
#myCarousel .carousel-caption {
  z-index: 10;
  margin: 0 auto;
  padding: 0;
  bottom: 7%;
}
.carousel-control {
    font-size: 60px;
    font-weight:100;
    line-height: 100%;
    vertical-align: middle;
}
.carousel span {
    position: absolute;
    top: 220px;
}
    .video {
        font-size: 21px;
        line-height: 1.4;
        margin: 100px 5%;
        border: none;
}
   iframe {
        width: 100%;
        height: 280px;    
   }
a.button {
    background-color:rgba(128, 128, 128, 0.70); 
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 1px 2px 0 #000;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 7px;
    position: relative;
    text-shadow: 1px 0 0 rgba(0,0,0,.1);
    border-color: rgba(128, 128, 128, 0.90);
  }
.btn-primary {
color: #ffffff;
background-color: rgba(128, 128, 128, 0.73);
border-color: #808080;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: rgba(207, 89, 5, 0.72);
border-color: rgba(207, 89, 5, 0.99);
}
/* myCAROUSEL02 -------------------------------- */
#myCarousel02 .carousel {
  margin-bottom: 60px; 
  margin-top: -90px;
}

#myCarousel02 .carousel .item {
 height: 400px;
/* background-color:#000;*/
}
#myCarousel02 .carousel-inner {
    background-color:#000;
    background-color: rgba(0, 0, 0, 0.73);   
}
#myCarousel02 .carousel-inner > .item > img {
  margin: 0 auto;
 resize: horizontal;
  height: 400px; 
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
 padding-left: 15px;
  padding-right: 15px;
  margin-top: 90px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}
    .marketing img {
        width: 250px;
    }
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette .lead  {
    margin-right: 20px;
}
.featurette-image {
    margin: 0 auto;
}
.text-muted {
    word-spacing: 1.4%;
}
.lead {
    font-weight: 100;
    font-size: 17px;
}
a {
    color: #fff;
}
    a:focus, a:hover {
        color: #c2c2c2;
    }
/* RESPONSIVE CSS
-------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  /*  @grid-float-breakpoint**********************/
    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;   
    }
    .lead {
        font-size: 15px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    #myCarousel .carousel .item {
        height: 600px;
    }
    #myCarousel .carousel-inner > .item > img {
        height: 600px;
        width: 100%;
    }
    #myCarousel02 .carousel .item {
        height: 768px;
    }
    #myCarousel02 .carousel-inner > .item > img {
        height: 768px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20%;
        font-size: 21px;
        line-height: 1.4;
    }
    .video {
        margin: 170px 15%;
    }
     iframe {
        height: 354px;    
   }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 70px;
  } 
}
