/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 0px;
  padding-bottom: 40px;
  color: #fff;
  background: #000;
}
h1 {
    font-size: 30px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
 /* position: relative;*/
  z-index: 15;
}
.navbar {
    background: rgba(128, 128, 128, 0.70);
    color: #fff;
}
.navbar-inverse .navbar-brand {
color: #fff;
}
.navbar-inverse .navbar-nav {
margin: 7.5px -15px;
margin: 0;
color: rgba(253, 252, 252, 0.80);
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
}
.dropdown-menu {
background-color:rgba(255, 255, 255, 0.58);
padding: 5px 7px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#myCarousel .carousel {
  margin-bottom: 60px; 
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
#myCarousel .carousel .item {
 background-color:#beb4b4;
 height: 350px;
}
#myCarousel .carousel-inner > .item > img {
  resize: vertical;
  top: 0;
  left: 0;
  height: 350px;
}
#myCarousel .carousel-caption {
  z-index: 10;
  margin: 0 auto;
  padding: 0;
  bottom: 20%;
}
    .video {
        font-size: 21px;
        line-height: 1.4;
        margin: 100px 5%;
        border: none;
}
   iframe {
        width: 100%;
        height: 280px;    
   }
a.button {
    background-color: #de8404;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border-right: 48px solid #cd7f2d;
    box-shadow: 2px 2px 0 #808080;
    color: white;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 15px 20px 12px 20px;
    position: relative;
    text-shadow: 1px 0 0 rgba(0,0,0,.1);
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}
/* myCAROUSEL02 -------------------------------- */
#myCarousel02 .carousel {
  margin-bottom: 60px; 
  margin-top: -40px;
}

#myCarousel02 .carousel .item {
 height: 400px;
/* background-color:#000;*/
}
#myCarousel02 .carousel-inner {
    background-color:#000;
    background-color: rgba(0, 0, 0, 0.73);   
}
#myCarousel02 .carousel-inner > .item > img {
  margin: 0 auto;
 resize: horizontal;
  height: 400px; 
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
 padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.text-muted {
    word-spacing: 1.4%;
}
.lead {
    font-size: 17px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
        margin-left:0;
        margin-right: 0;
    }

    /* Navbar positioning foo 
    .navbar {
        background: rgba(128, 128, 128, 0.27);
    }*/
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    #myCarousel .carousel .item {
        height: 600px;
    }
    #myCarousel .carousel-inner > .item > img {
        height: 600px;
    }
    #myCarousel02 .carousel .item {
        height: 768px;
    }
    #myCarousel02 .carousel-inner > .item > img {
        height: 768px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20%;
        font-size: 21px;
        line-height: 1.4;
    }
    .video {
        margin: 170px 15%;
    }
     iframe {
        height: 354px;    
   }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 90px;
  } 
  .video {
        margin: 170px 25%;
    }
}
