@{
    ViewBag.Title = "BentWood";
}



<!-- Complete web site content is placed inside the bodyContainer class div-->




<!-- pgScrollUp navigation used to scroll the page to top position-->



<div class="bodyContainer">

<!-- Work Portfolio Page -->
<div class="contentWrapper darkStyle backGround fullHeight removePadding">
     
    <div class="container">     	
		<div class="row">
            <div class="span12" > 
                <h1 class="fittext3 white_color">Bent Wood</h1>
            </div>               
		</div>
    </div> 
    <div class="row-fluid works-wrapper">
        <div class="span12 ">
            <div id="carousel" class="carousel">
                <ul>
                    <li class="pane1">
                        <img class="lazyload" src="~/Content/images/bentwood/image1.jpg" alt="Rick Maxwell-Meandering Way 4'X45'Beech - Collection of the Omni Corporation" />
                        <h4 class="carousel-caption">Meandering Way 4'x 45'  Beech - Collection of the Omni Corporation</h4>
                    </li>
                    <li class="pane2">                        
                            <img class="lazyload" src="~/Content/images/bentwood/image2.jpg" alt="Rick Maxwell-Meandering Way, 4'X 47', Beech, Collection of the Omni Corporation" />
                            <h4 class="carousel-caption">Meandering Way, 4'x 47', Beech - Collection of the Omni Corporation</h4>
                    </li>
                    <li class="pane3">
                            <img class="lazyload" src="~/Content/images/bentwood/image3.jpg" alt="Rick Maxwell-Meandering Way 2, 4'X45', Beech, Collection of the Omni Corporation" />
                            <h4 class="carousel-caption">Meandering Way, 4'x 47', view 2, Beech - Collection of the Omni Corporation</h4>
                    </li>
                    <li class="pane4">
                            <img class="lazyload" src="~/Content/images/bentwood/image4.jpg" alt="Rick Maxwell-Meandering Way, 4'x 47', view 2, Beech - Collection of the Omni Corporation" />
                            <h4 class="carousel-caption">Meandering Way, 4'x 47', view 2, Beech - Collection of the Omni Corporation</h4>
                    </li>
                    <li class="pane5">
                            <img class="lazyload" src="~/Content/images/bentwood/image5.jpg" alt="Rick Maxwell-Aspen Loops, 4'x 37', Oak - view 1" />
                            <h4 class="carousel-caption">Aspen Loops, 4'x 37', Oak </h4>
                    </li>
                    <li class="pane6">
                             <img class="lazyload" src="~/Content/images/bentwood/image6.jpg" alt="Rick Maxwell-Aspen Loops, 4'x 37', Oak - view 2" />
                            <h4 class="carousel-caption">Aspen Loops, 4'x 37', Oak - view 2</h4>
                    </li>
                    <li class="pane7">
                            <img class="lazyload" src="~/Content/images/bentwood/image7.jpg" alt="Rick Maxwell-Aspen Install with Jeff Hogen" />
                            <h4 class="carousel-caption">Aspen Install with Jeff Hogen</h4>>
                    </li>
                    <li class="pane8">
                            <img class="lazyload" src="~/Content/images/bentwood/image8.jpg" alt="Rick Maxwell-Aspen Studio Detail" />
                            <h4 class="carousel-caption">Aspen Studio Detail</h4>
                    </li>
                    <li class="pane9">                            
                           <img class="lazyload" src="~/Content/images/bentwood/image9.jpg" alt="Rick Maxwell-Aspen Loops, Detail" />
                           <h4 class="carousel-caption">Aspen Loops, Detail</h4>
                    </li>
                    <li class="pane10">
                            <img class="lazyload" src="~/Content/images/bentwood/image10.jpg" alt="Rick Maxwell-Shady Oaks 3.5'X12' Maple" />
                            <h4 class="carousel-caption">Shady Oaks 3.5'x 12' Maple</h4>
                    </li>
                    <li class="pane11">
                            <img class="lazyload" src="~/Content/images/bentwood/image11.jpg" alt="Rick Maxwell-Shady Oaks 3.5'X10'" />
                            <h4 class="carousel-caption">Shady Oaks 3.5'x 10'</h4>
                    </li>
                    <li class="pane12">
                            <img class="lazyload" src="~/Content/images/bentwood/image12.jpg" alt="Rick Maxwell-Shady Oaks Install" />
                            <h4 class="carousel-caption">Shady Oaks Install</h4>
                    </li>
                    <li class="pane13">
                            <img class="lazyload" src="~/Content/images/bentwood/image13.jpg" alt="Rick Maxwell-Musica Musica 9'X4.5' Dyed Oak" />
                           <h4 class="carousel-caption">Musica Musica 9'x 4.5' Dyed Oak</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                           
   
</div>

 
          
 <!-- jQuery is just for the demo! Hammer.js works without jQuery :-) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    
    <script  src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js"></script>
    
    <script data-require="hammer.js" data-semver="1.0.5" src="~/Content/js/hammer.js"></script>
       
<script> 

    /**
    * super simple carousel
    * animation between panes happens with css transitions */
   
    function Carousel(element)
    {
        var self = this;
        element = $(element);

        var container = $(">ul", element);
        var panes = $(">ul>li", element);

        var pane_width = 0;
        var pane_count = panes.length;

        var current_pane = 0;

 
        /**
         * initial */
        
        this.init = function() {
            setPaneDimensions();

            $(window).on("load resize orientationchange", function() {
                setPaneDimensions();
            })
        };


        /**
         * set the pane dimensions and scale the container */
      
        function setPaneDimensions() {
            pane_width = element.width();
            panes.each(function () {
                $(this).width(pane_width);
            });
            container.width(pane_width * pane_count);
        };
  
        /**
         * show pane by index */
     
        this.showPane = function(index, animate) {
            // between the bounds
            index = Math.max(0, Math.min(index, pane_count-1));
            current_pane = index;

            var offset = -((100/pane_count)*current_pane);
            setContainerOffset(offset, animate);
        };


        function setContainerOffset(percent, animate) {
            container.removeClass("animate");

            if(animate) {
                container.addClass("animate");
            }

            if(Modernizr.csstransforms3d) {
                container.css("transform", "translate3d("+ percent +"%,0,0) scale3d(1,1,1)");
            }
            else if(Modernizr.csstransforms) {
                container.css("transform", "translate("+ percent +"%,0)");
            }
            else {
                var px = ((pane_width*pane_count) / 100) * percent;
                container.css("left", px+"px");
            }
        }

        this.next = function() { return this.showPane(current_pane+1, true); };
        this.prev = function() { return this.showPane(current_pane-1, true); };


        function handleHammer(ev) {
            // disable browser scrolling
            ev.gesture.preventDefault();

            switch(ev.type) {
                case 'dragright':
                case 'dragleft':
                    // stick to the finger
                    var pane_offset = -(100/pane_count)*current_pane;
                    var drag_offset = ((100/pane_width)*ev.gesture.deltaX) / pane_count;

                    // slow down at the first and last pane
                    if((current_pane == 0 && ev.gesture.direction == "right") ||
                        (current_pane == pane_count-1 && ev.gesture.direction == "left")) {
                        drag_offset *= .4;
                    }

                    setContainerOffset(drag_offset + pane_offset);
                    break;

                case 'swipeleft':
                    self.next();
                    ev.gesture.stopDetect();
                    break;

                case 'swiperight':
                    self.prev();
                    ev.gesture.stopDetect();
                    break;

                case 'release':
                    // more then 50% moved, navigate
                    if(Math.abs(ev.gesture.deltaX) > pane_width/2) {
                        if(ev.gesture.direction == 'right') {
                            self.prev();
                        } else {
                            self.next();
                        }
                    }
                    else {
                        self.showPane(current_pane, true);
                    }
                    break;
            }
        }

        new Hammer(element[0], { dragLockToAxis: true }).on("release dragleft dragright swipeleft swiperight", handleHammer);        
  }

        var carousel = new Carousel("#carousel");
        carousel.init();
  
</script> 
   

</div>

