@{
    ViewBag.Title = "Index";
}




<!--  site loading -->
<div class="pageFade" > </div>


<!--
Header Navigation Area
-->


<div class="showHideMenu">
	<i class="fa fa-bars"></i>
</div>

    
<div class="header darkMenu" >   
      

	<div class="closeMenu">
		<i class="fa  fa-arrow-circle-o-left fa-2x" ></i>
	</div>
    
    <div class="header_content" >
		
        <!-- Set Top Menu 
        	Just add the class name topNav to the below setNavType class div 
            OR
            Remove the 55th line on custom.min.js file. It will applied to the all pages
        -->
        
        <!-- Center Align Page
        To make the Menu align center, just add the class name container to the below setNavType div 
        Note: Add only for top menu
        -->
        
        <div class="setNavType"> 
        
            <div class="logo" >
                <a href="#!home"><img src="~/Content/images/logo.png" data-retina="yes" alt="Rick Maxwell_Fine Art Sculptor"></a>
            </div>

        	    
             <ul class="nav">
                <!--  Add require site page navigation -->                    
                <li><a href="#!home" class="first active">Home</a></li>
                <li><a href="#!portfolio">Works</a></li>  
                <li><a href="#!studio">Annual Open Studios</a>
                        <ul>
                            <li><a href="#!studio?tab1_1" >2013</a></li>
                            <li><a href="#!studio?tab1_2" >2012</a></li>
                            <li><a href="#!studio?tab1_3" >2011</a></li>
                            <li><a href="#!studio?tab1_4" class="last" >2010-2002</a></li>
                        </ul>
                </li>
                <li><a href="#!info">Information</a>
                        <ul>
                            <li><a href="#!info?tab2_1" >Essays</a></li>
                            <li><a href="#!info?tab2_2" >e-Publications</a></li>
                            <li><a href="#!info?tab2_3" >Latest Works</a></li>
                        </ul>
                 </li>  
                 <li><a href="#!about">About</a>
                     <ul>
                            <li><a href="#!about?tab4_1" >Statement</a></li>
                            <li><a href="#!about?tab4_2" >Biography</a></li>
                            <li><a href="#!about?tab4_3" class="last" >Links</a></li>
                    </ul>
                 </li> 

                <li><a href="#!contact" class="last">Contact</a></li>                                          
            </ul>
            
        </div>
        
        
        
        
        <div class="menu_footer darkStyle">                       
            <ul class="font_awesome">
                <li ><a ><i class="fa fa-facebook"></i></a></li>
                <li ><a ><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <br>
			<div class="tiny_font"> 2014 - Rick Maxwell</div>
        </div>   
       
   </div>
  
</div>    


<!--
Page navigation - Use to Scroll the page from section to section
-->

<div class="fadeAfterLoad pageNavigation">
	<div class="previousPage"><span>   </span></div>
	<div class="nextPage autoPosition"> <span>   </span></div>
</div>

    
                

<!-- pgScrollUp navigation used to scroll the page to top position -->

<div class="pgScrollUp"></div>



<!-- Complete web site content is placed inside the bodyContainer class div-->

<div class="bodyContainer">


<!-- Homepage  -->

<div  data-id="!home" class="contentWrapper lightStyle homeSlider fullHeight  parallax"  >

	<!-- BackGround Video -->
	<!-- <div class="addVideo video_content backGroundVideo " data-url="http://vimeo.com/57910940"  > </div> -->
    
	<!-- Supersized home page slider show Arrow Navigation, To position the navigation to center, just remove the centerPosition class-->
    <div id="superNav" >
        <a id="prevslide" class="load-item" ></a>
        <a id="nextslide" class="load-item" ></a>
        <a id="play-button"  class="load-item" ><img id="pauseplay" src="../Content/images/supersized/pause.png" alt="image text" /></a>
    </div> 
    
    
    <!-- fullscreen slideshow animation text, See the superGalleryInit function on header area. 
    If you need to remove the slideshow just remove the below tag and superGalleryInit function completely -->
	<div class="homepage_con" >    
                
        <!-- Homepage fullscreen slideshow Title text 1 -->
        <div class="home_slider_title1 sliderStyle1" >
            <div class="text_mask bgCaption">
                <div class="text_hold">
                    <img src="~/Content/images/home_slider/Rick-signature.png" />
                </div>
            </div>
        </div>
        
         <!-- Homepage fullscreen slideshow Title text 2 -->
         <div class="home_slider_title2 sliderStyle1" >
            <div class="text_mask bgCaption">
                <div class="text_hold">
                    <h1 class="large_text">wood sculptor</h1>
                </div>
            </div>
        </div>
        
        
         <!-- Homepage fullscreen slideshow Title text 3 -->
        <div class="home_slider_title3 sliderStyle1 " > 
            <div class="text_mask bgCaption">
                <div class="text_hold">
                    <h1 class="large_text">BENT WOOD RIBBON</h1>
                    <h2 class="highlight_color large_text" ></h2>
                </div>
            </div>       
        </div>
        
        
         <!-- Homepage fullscreen slideshow Title text 4 -->
        <div class="home_slider_title4 sliderStyle1" >
            <div class="text_mask bgCaption">
                <div class="text_hold">
                    <h1 class="large_text">Rick Maxwell </h1>
                    <h2 class="highlight_color large_text" >WOOD ARTIST</h2>
                </div>
            </div>
        </div> 
        
        
         <!-- Homepage fullscreen slideshow Title text 5 -->
        <div class="home_slider_title5 sliderStyle1" >
            <div class="text_mask bgCaptionHighlight transparent">
                <div class="text_hold">
                	<h1 class="large_text dark_color">Browse </h1>
                    <h5><a class="inverse playPause_slideshow" href="#!portfolio"><span class="box_hover upperCase">art work</span></a></h5>
                </div>
            </div>
        </div>          
        
	</div>
   
</div>



 <!-- Portfolio Page -->
<div data-id="!portfolio" class="contentWrapper darkStyle backGround  fullHeight removePadding portfolioPage"  >

	<hr class="top_space">    
     
    <div class="container desktop_alignLeft">     	
        <div class="row"> 
			<div class="span12" >
				<h1 class="fittext3 white_color">Work</h1>
			</div>
        </div>
    </div>
    
    <div class="bar_content bottomSpace_mini">
        <div class="container desktop_alignLeft">     	
            <div class="row"> 
                <div class="span12" >
                    <div class="controls" >        	 
                        <ul> 
                            <li><strong>FILTER :</strong></li>
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter="web">New Work</li>
                            <li class="filter" data-filter="mob">Sculpture</li>
                            <li class="filter" data-filter="ill">Drawings</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    <hr class="separator_mini">

    
    <!-- Portfolio Detail content load inside the below projDetailLoad class div-->
	    <div class="projDetailLoad darkStyle" >    	
    	<!-- Center Align Page
        To make the navigation align center, just add the class name container to the below itemNav div --> 
    	<div class="container itemNav"></div>
        
    </div>
    
    
    <!-- Portfolio thumbnails -->    
    <div class="portfolioFluid_items portfolio_items ">	
     
     	<!-- Center Align Page
        To make the thumbnails center, just add the class name container to the below div --> 
        
		<div class="">
        
            <div class="item mix mix_all web" >
                <!-- Thumbnail 1-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="../Content/images/portfolio/thumb2.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Omin Installation</h5>
                                <a class="inverse detail_btn" ><span class="box_hover_min">Project Details</span></a>                                					
                            </div>
                        </div>                   
                    </div>
                </div>
               
                <!-- Project detail 1-->
                <div  class="fullDetails" >
                    <div class="container max_height" >
                        <div class="row-fluid" >
                            <div class="span12" >
                                <h4 class="title_text">Omni Installation</h4> 
                            </div>
                        </div>
                        <div class="row-fluid" >
                           <div class="span7" >
                                  <div class="pad">
                                      <!-- project image slide show -->
                                      <div class="flexSlideshow" >
                                          <ul class="slides"> 
                                              <li><a  class="lazyload" href="~/Content/images/portfolio/image1.jpg" title="Some text">IMAGE</a></li> 
                                              <li><a  class="lazyload" href="~/Content/images/portfolio/image1_b.jpg" title="Some text">IMAGE</a></li>
                                              <li><a  class="lazyload" href="~/Content/images/portfolio/image1_c.jpg" title="Some text">IMAGE</a></li>
                                              <li><a  class="lazyload" href="~/Content/images/portfolio/image1_d.jpg" title="Some text">IMAGE</a></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <hr class="slide_bottomSpace">
                              </div>                       
                           <div class="span5">
                               <h4 class="upperCase noMargin">Omni Hotel Project</h4>                                
                                <p> The Omni Hotel in Dallas, Texas, USA wanted to fill their lobby with large scale art created by established artists in the area.</p>                            
                                <p>There are two 45 ft. 'bent wood' sculptors made of hard wood suspended from the ceiling of the Omni Hotel lobby.</p> 
                                <hr>                                                            
                            </div>                  
                        </div>            		
                    </div>
                </div>             
               <!-- End Project 1 detail -->         
            </div>

            <div class="item mix mix_all web" >
                <!-- Thumbnail 2 -->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb3.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                               <h5 class="upperCase bold_weight">Bent Wood Process</h5>
                                <a class="inverse detail_btn" href="http://vimeo.com/57910940" data-title='<span class="upperCase bold_weight">Bent Wood Process</span>' >
                                    <span class="box_hover_min">View Video</span>
                                </a>							
                            </div>
                        </div>
                        </div>                   
                    </div>
                   
            </div>
            
              
            <div class="item mix mix_all web" >
                <!-- Thumbnail 3 -->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb3.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Colorado Home</h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image4.jpg" data-title='<span class="upperCase bold_weight">Ribbon Wood Sculpture</span>' >
                                    <span class="box_hover_min">Details</span>
                                </a>							
                            </div>
                        </div>                   
                    </div>
                </div>    
            </div>
            
            
            <div class="item mix mix_all web" >
                <!-- Thumbnail 4-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb4.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Shady Oaks Country Club</h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image4.jpg" data-title='<span class="upperCase bold_weight">Wood Ribbon Sculpture</span>' >
                                            <span class="box_hover_min">Details</span>
                                 </a>                                              							
                            </div>
                        </div>                   
                    </div>
                </div>            
    
            </div>
            
            
            <div class="item mix mix_all web" >
                <!-- Thumbnail 5-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb6.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Bent Wood Relief</h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image6.jpg" data-title='<span class="upperCase bold_weight">Ribbon Wood Sculpture</span>' >
                                            <span class="box_hover_min">Details</span>
                                 </a>                                              							
                            </div>
                        </div>                   
                    </div>
                </div>            
    
            </div>
            
                
            <div class="item mix mix_all web" >
                <!-- Thumbnail 6-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb7.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Bent Wood Relief</h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image7.jpg" data-title='<span class="upperCase bold_weight"></span>' >
                                            <span class="box_hover_min">Details</span>
                                 </a>                                              							
                            </div>
                        </div>                   
                    </div>
                </div>            
    
            </div>
         
                
            <div class="item mix mix_all web" >
                <!-- Thumbnail 7-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb8.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight">Bent Wood Sculpturey</h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image8.jpg" data-title='<span class="upperCase bold_weight"></span>' >
                                            <span class="box_hover_min">details</span>
                                 </a>                                              							
                            </div>
                        </div>                   
                    </div>
                </div>            
    
            </div>
            
            <div class="item mix mix_all web" >
                <!-- Thumbnail 8-->
                <div class="porImgOver" >
                    <a  class="lazyload_portfolioFluid" href="~/Content/images/portfolio/thumb8.jpg" title="Some text">IMAGE</a>
                    <div class="overlay content">
                        <div class="imageText">
                            <div class="middle_align">
                                <h5 class="upperCase bold_weight"></h5>
                                <a class="inverse detail_btn" href="~/Content/images/portfolio/image8.jpg" data-title='<span class="upperCase bold_weight"></span>' >
                                            <span class="box_hover_min">details</span>
                                 </a>                                              							
                            </div>
                        </div>                   
                    </div>
                </div>            
    
            </div>
            
            
            
            
 
    
    </div>   
    
    <hr>
    <hr class="separator_max">
 
</div>

</div>


<!-- Studio page -->

<div data-id="!studio" class="contentWrapper fullHeight backGround darkStyle" >

	<hr class="top_space">    
     
    <div class="container desktop_alignLeft">     	
		<div class="row">
            <div class="span12" > 
                <h1 class="fittext3 white_color">Annual Open Studios</h1>
            </div>               
		</div>
    </div> 

       <!-- Tab section -->
    <div class="bar_content">
    	<div class="container desktop_alignLeft">
        	<div class="row">
            	<div class="span12" > 
                	<!-- Tab navigations -->
                    <ul class="nav-tabs plainTab">
                        <li class="active"><a href="#tab1_1" data-toggle="tab">2013</a></li>
                        <li><a href="#tab1_2" data-toggle="tab">2012</a></li>
                        <li><a href="#tab1_3" data-toggle="tab">2011</a></li> 
                        <li><a href="#tab1_4" data-toggle="tab">2010-2002</a></li>                    
                    </ul>
                </div>
            </div>
		</div>   
     </div>  
	
    <div class="container desktop_alignLeft">   
        <div class="row"> 
            <div class="span12" > 
            	<!-- Tab Content -->
                <div class="tab-content">

                   <!-- tab1_1 2013 -->
                   <div class="tab-pane fade in active" id="tab1_1" >
                    
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>2013</h2>
                        		<hr>
                        	</div>
                        </div>

                        <div class="row-fluid">           
                            <div class="span8 elastic_slider"></div>
                             <h3>CEDARS OPEN STUDIOS TOUR</h3>

<p>Cedars Open Studios is an opportunity for guests to learn about the neighborhood and the numerous professional artists and craftsmen residing in the Cedars. The artist studios are open year around by appointment, but during Open Studios, they open give visitors a chance to experience a creative, evolving neighborhood all at once.
</p>
<p>The Cedars was the first Dallas suburb and a neighborhood where early residents both lived and worked. Department store giants like Stanley Marcus and Edward Tische built art deco style homes unsurpassed for their craftsmanship and amenities in the Cedars. If you’ve never been to the Cedars South Side area, we invite you to explore and enjoy your visit to this historic neighborhood.</h3>
           </p>   
                            	<!-- In each li tag, the project content link is defined in data-preview attribute, 
                				The projects content is placed below carousel_preview class div -->
                                
                                <div data-link="#team_details" class="carousel_container hover_gray">
                                    <ul class="elastislide-list carousel_thumbails thumbnail_list large">                    
                                        <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Open Studio 2013</span>'  href="../Content/images/portfolio/image4.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="~/Content/images/portfolio/thumb4.jpg" title="image text">Image</a>
                                        </li>                            
                                    </ul> 
					             </div>     
                              </div>      
			            </div>                                   
                
                    <!-- tab1_2 2012 -->
                   <div class="tab-pane fade" id="tab1_2" >
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>2012</h2>
                        		<hr>
                        	</div>
                        </div>                       
                      </div>   

                    <!-- tab1_3 2011 -->
                    <div class="tab-pane fade" id="tab1_3" >
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>2011</h2>
                        		<hr>
                        	</div>
                        </div>  
                      </div>   

                        <!-- tab1_4 2010 to 2002 -->
                    <div class="tab-pane fade" id="tab1_4" >
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>2010 to 2002</h2>
                        		<hr>
                        	</div>
                        </div>   
                      </div>   

                </div>
           </div>
        </div>
          <hr class="separator_max">
   </div>

</div>


<!-- info page-->

<div data-id="!info" class="contentWrapper fullHeight backGround darkStyle" >

   <hr class="top_space">    
     
    <div class="container desktop_alignLeft">     	
        <div class="row">
			<div class="span12" >
				<h1 class="fittext3 white_color">Information</h1>
            </div>
        </div>
   </div>
        
    <!-- Tab section -->
    <div class="bar_content">
    	<div class="container desktop_alignLeft">     	
        	<div class="row"> 
                 <div class="span12" >
                 	<!-- Tab navigations -->
                    <ul class="nav-tabs plainTab">
                      <li class="active"><a href="#tab2_1" data-toggle="tab">Essays</a></li>
                      <li><a href="#tab2_2" data-toggle="tab">e-Publications</a></li>
                      <li><a href="#tab2_3" data-toggle="tab">Latest Works</a></li>
                    </ul>
                 </div>
            </div>
		</div>
  </div>
    
      <div class="container desktop_alignLeft">
          <div class="row">       
            <div class="span12">
            	<!-- Tab Content -->
                <div class="tab-content">
                
                	<!-- tab2_1 essay -->
					<div class="tab-pane fade in active" id="tab2_1">                    	                        
						<div class="row-fluid">
                        	<div class="span12">
                        		<h2>Essay</h2>
                            </div>
                        </div>
                        
                        <div class="row-fluid"> 
                           <div class="span6">
                              <div class= "m_Scrollbar" style="height:50px"> 
                                <h3>David Newman | Gallery Director</h3>
                                <h4>Forum Gallery | Brookhaven College School of the Arts</h4>
                                <p>The problem of tectonic and a-tectonic has first a special application to sculpture as a problem of placing or, to put it otherwise, as a problem of the relation to architecture. </p>
                                 <img src="~/Content/images/info/image1.jpg" />
                                 <hr class="separator_medium">
                                 <img src="~/Content/images/info/image2.jpg" /> 
                               </div>                               
                             </div>
                                                       
                             <div class="span6">    
                                <h3>Heinrich Wolffin </h3>
                                <p>Rick Maxwell's new sculpture and drawings combine an engagement with density and mass with ethereal, almost ephemeral, line. Referencing organic, natural entities without specifically representing their referents, the words are abstract, expressively gestural deployments of shape, volume, and line in space. As such, both the sculpture and the drawings are in the end reflexive and ultimately engage the means of their making, both with respects to their material cause and the processes of their facture. </p>
                                <p>Maxwell's sculpture is structured around a central, vertical axis, most often inflected from plumb verticality. Still, verticality qua an implied plumb line is sensed in response to the works; one regards the deviation from the plumbness as a gestural inflection, and responds to its expressivity. The response is conditioned and informed by one's lived experience of the embodiedness of one's self, and of other selves. To so respond to the work is to suppose that a vestigial figurative aspect obtains for closed three-dimensional form as such, even with the work has no reference to the figure and in no ostensible respect is a representation of the figure.</p>
                                <p>Some sense of the role of gestural variation in similar forms in found in Three Really Excited Ladies. The three components share a similar structure of dense block elevated from the floor on turned wooden finials (which read immediately and inevitably as shoes with high heels), with elongated necks arching upward and off-plumb, swelling at the terminal end to suggest a head. Beyond the obvious variation of finish of the parts of each component of the work, and variation in scale, there is subtle variation in the gesture of each of the component pieces. </p>
                                <p>Both Carpel Tunnel and Bad Brush consist is a dense roughly sawn wooden lower section surmounted with thin myrtle stems with intact bark, closely set together and bundled by large wooden screws joining tapped sections of wood. In Carpel Tunnel the crepe myrtle stems continue the plumb verticality of the lower wooden element; in Bad Brush the crepe myrtle stems are similarly constrained, but nevertheless are splayed like the bristles of a brush gone bad. The difference of sustained, compacted verticality and of a verticality splaying beyond the constraint is subtle, but substantial, for the felt constraint is not merely that of the constraining elements within the works, but ultimately of gravity as a natural force.</p>
                                <p>The suspended work White Spine/Black Spine depends on gravity for the insistent verticality of the orientation of the axis of the two components. Around and extending from these axis, horizontal elements extend, less at the top, more at the bottom, blades of ceiling fans multiplying and bending. Between the two components the negative volume of each component is implied as an inverted volume. </p>
                                <p>In contrast to White Spine/Black Spine, Black Bone, Above the Thunder, and Jesse's Steps are gestural lines bending as a sprout bends under the effect of phototropism. Black Bone, Above the Thunder, and in somewhat more limited and vestigial manner Jessie's Steps, consolidate the segmentation of White Spine/Black Spine to the central axis itself. </p>
                                <p>In marking a position in space, Maxwell's sculpture inevitably responds to and references the architectural space of the gallery, as framed by the white walls demarking the limits of a void against which the gesture of the work can be gauged, and as a plane on which the trace of the sculpture qua shadow is projected. </p>
                                <p>Maxwell's drawings are materially traces of the sculpture, being drawn with charcoal made from the wood scraps produced in carving. More saliently, the drawings continue the gestural abstraction of the sculpture in another area of practice, responding to the field of the sheet as the sculpture references the architectural space in its installation. The marks are mainly oriented parallel to the plan of the paper, with a limited suggestion of depth developed primarily through massing of value and variation in line weight and speed of the mark. The delicacy of mark, and confidence of touch and ecriture parallel the strength of facture of the sculpture, each the alterity of the other medium. </p>
                              </div>
                        </div>
                          
                        <hr class="separator_mini">
                    </div>
                  
                    
                    <!-- tab2_2 e-pub -->
                    <div class="tab-pane fade" id="tab2_2">
                       
                        <div class="row-fluid">
                        	<div class="span12">
                        		<h2>e-Publications</h2>
                                <hr>
                        	</div>
                        </div> 
                  
                       <div class="container-fluid">

		          <!-- Blog posts, the m-Scrollbar-hor class is used to add Horizontal scrollbar to the content -->
                      <div class="scroll_holder_H m-Scrollbar-hor" >
                
			        <div class="hor_scroll_content" >
                
                <!-- Blog post
                	 m-Scrollbar class is used to add vertical scrollbar to the content -->
				<div class="blog_box m-Scrollbar">    
					<div class="blog_item">
                        <h4 class="b_heading upperCase"><a>Omni Dallas Convention Center Hotel</a></h4>
                                        
                        <div class="thumbnail">
                            <span class="blog_date dark_color">
                                <span  class="b_date">11</span>
                                <span  class="b_month">nov</span> 
                                <span  class="b_year">2011</span>    
                            </span>   
                        </div> 
                             <a class="lazyload_single" href="~/Content/images/info/image3.jpg" title="Some text">IMAGE</a> 
                             <h6><em>Bray Whaler International</em></h6>
                             <p>Ribbon Sculture on the lobby ceiling of the Omni Hotel</p>                      
                             <p class="b_detail">Ribbon Sculture on the lobby ceiling of the Omni Hotel, Dallas </p>
                             <a class="button small alignRight" href="http://braywhaler.wordpress.com/2011/12/">View website</a>
                         <hr class="separator_mini">
					</div>        
                </div>

                <div class="blog_box m-Scrollbar">    
					<div class="blog_item">
                        <h4 class="b_heading upperCase"><a>UNIVERSITY OF DALLAS</a></h4>
                                        
                        <div class="thumbnail">
                            <span class="blog_date dark_color">
                                <span  class="b_date">26</span>
                                <span  class="b_month">feb</span> 
                                <span  class="b_year">2010</span>    
                            </span>                                       
                       </div> 
                             <a class="lazyload_single" href="~/Content/images/info/image1.jpg" title="Some text">IMAGE</a>
                             <h6><em>Exibition by Dallas artists</em></h6>                     
                             <p class="b_detail">An exhibition of artworks by Dallas area artists Rick Maxwell, David Newman and Don Taylor. The bold use of form, color, and texture confidently utilized by these artists in the fields of sculpture, painting and printmaking creates an exciting tension and visual dialogue. </p>
                             <a class="button small alignRight" href="http://www.udallas.edu/offices/artgallery/archivedexhibitions/maxwellnewmantaylor/">View website</a> 
					  </div>        
                    </div>
                   </div>
                  </div>       
                  </div>
              <!--  <hr class="separator_mini"> -->
             </div>      
                
                    <!-- tab2_3 Latest works -->
                    <div class="tab-pane fade" id="tab2_3" >
                    
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>Latest Works</h2>
                        		<hr>
                        	</div>
                        </div>
                        
                        <div class="row-fluid">
                            <div class="span12 elastic_slider">
                            
                            	<!-- In each li tag, the project content link is defined in data-preview attribute, 
                				The projects content is placed below carousel_preview class div -->
                                
                                <div data-link="#team_details" class="carousel_container hover_gray">
                                    <ul class="elastislide-list carousel_thumbails thumbnail_list large">                   
                                        <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Pairs</span>'  href="~/Content/images/portfolio/image4.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="~/Content/images/portfolio/thumb4.jpg" title="image text">Image</a>
                                            </li>
                                        <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Pairs</span>'  href="~/Content/images/portfolio/image5.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="~/Content/images/portfolio/thumb5.jpg" title="image text">Image</a>
                                            </li>
                                       <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Pairs</span>'  href="~/Content/images/portfolio/image6.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="../Content/images/portfolio/thumb6.jpg" title="image text">Image</a>
                                            </li>
                                        <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Ribbon Wood</span>'  href="~/Content/images/portfolio/image7.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="../Content/images/portfolio/thumb7.jpg" title="image text">Image</a>
                                            </li>
                                        <li>
                                        	<a class="magnificPopup" data-title='<span class="upperCase bold_weight">Ribbon Wood</span>'  href="~/Content/images/portfolio/image8.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>		
                                            <a  class="lazyload" href="../Content/images/portfolio/thumb8.jpg" title="image text">Image</a>
                                            </li>
                                    </ul>
                            	</div>
                               <hr>
                             </div> 
                        </div>

					</div>
                </div>
            </div>
        </div>
          
    </div>                         
     <hr class="separator_mini">                 
</div>


<!-- About page -->

<div data-id="!about" class="contentWrapper fullHeight backGround darkStyle" >

	<hr class="top_space">    
     
    <div class="container desktop_alignLeft">     	
		<div class="row">
            <div class="span12" > 
                <h1 class="fittext3 white_color">About <span class="highlight_color"> RICK MAXWELL</span> </h1>
            </div>               
		</div>
    </div>    
    
    <!-- Tab section -->
    <div class="bar_content">
    	<div class="container  desktop_alignLeft">
        	<div class="row">
            	<div class="span12" > 
                	<!-- Tab navigations -->
                    <ul class="nav-tabs plainTab">
                      <li class="active"><a href="#tab4_1" data-toggle="tab">Statement</a></li>
                      <li><a href="#tab4_2" data-toggle="tab">Biography</a></li> 
                      <li><a href="#tab4_3" data-toggle="tab">Links</a></li>                    
                    </ul>
                </div>
            </div>
		</div>   
    </div>
       
       <div class="container desktop_alignLeft" >   
          <div class="row"> 
            <div class="span12"> 
            	<!-- Tab Content -->
                <div class="tab-content">
                
                	<!-- tab4_1 Statement -->
                    <div class="tab-pane  fade in active" id="tab4_1"> 
                    
                       	<div class="row-fluid">
                        	<div class="span12">
                        		<h2> Statement </h2>
                                <hr />
                        	</div>
                        </div> 
                      
                        <div class="row-fluid"> 
                           
                             <div class="span7">
                                          
                                            <span class="thumbnail-mini">
                                              <img class="img-rounded-mini" style="float:left;margin-right:20px;" src="~/Content/images/artist/rick-maxwell-profile.jpg" title="Rick Maxwell - wood sculptor" />
                                           
                                             In the past 40 years, I've written many 'Artist Statements'. Some were insightful, some were intellectual, some were humorous and a few were even embarrassing. Now, after all this time, what it's come down to is exactly where it started. I enjoy being an artist because I enjoy the simple task of making the art. For me the process has always had a stronger allure than standing in front of the finished piece. I love the tools I work with, the materials I work in, and the empathy I experience as I move through the process. Simply said, "I'm an artist because I'm addicted to making art."          
                                            <div class="text-right">  
                                         <img src="~/Content/images/logo.png" class="text-right" />   
                                      </div>
                                          </span>
                                    <hr class="separator_mini">
                                    </div>
                                                          
                             <div class="span5">
                                 <h5 class="upperCase bold_weight">Video - Bent Wood Process</h5>
                                 <!-- Add video -->                         
                <div class="addVideo video_content" data-url="http://vimeo.com/57910940" title="bent wood process" >
                    <div class="video_hover"></div>
                        <img class="scale-with-grid" src="~/Content/images/artist/image5.jpg" alt="image name" />
                </div>
                <br class="clear"/>
                <hr>  
                              </div>
                            <hr class="separator_mini">
                           </div>
                            
                        <div class="row-fluid four_column text-center" >
        
                            <div class="span12" >
                            
                                <a class="part feature" >
                                    <div class="thumbnail" >
                                       <img src="~/Content/images/artist/image1.jpg" />
                                    </div>
                                    <div class="bg_hover_change img-rounded-mini">
                                        <i class="fa fa-caret-up fa-2x"> </i>  
                                        <h4>Allure of the Process</h4>
                                        <h6><em>Fallen wood. Sculpted.</em></h6>
                                    </div>
                                </a>
                                
                                <a class="part feature">
                                    <div class="thumbnail">
                                        <img src="~/Content/images/artist/image2.jpg" />
                                    </div>
                                    <div class="bg_hover_change img-rounded-mini">
                                        <i class="fa fa-caret-up fa-2x"> </i>
                                        <h4>Bending new Life</h4>
                                        <h6><em>New Process of Cold Compression</em></h6>
                                    </div>
                                </a>
                                
                                <a class="part feature">
                                    <div class="thumbnail">
                                        <img src="~/Content/images/artist/image3.jpg" />
                                    </div>
                                    <div class="bg_hover_change img-rounded-mini">  
                                        <i class="fa fa-caret-up fa-2x"> </i>                  	
                                        <h4>Another Turn</h4>
                                        <h6><em>Straight wood. Twisted.</em></h6>
                                    </div>
                                </a>
                                
                                <a class="part feature">
                                    <div class="thumbnail">
                                        <img src="~/Content/images/artist/image4.jpg" />
                                    </div>
                                    <div class="bg_hover_change img-rounded-mini">
                                        <i class="fa fa-caret-up fa-2x"> </i>
                                        <h4>Love the Process</h4>
                                        <h6><em>Look up. At every angle.</em></h6>
                                    </div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- tab4_2 Biography -->
                    <div class="tab-pane fade" id="tab4_2">
						
                        <div class="row-fluid">
                        	<div class="span12">
                        		<h2>Biography</h2>
                            	<hr>
                        	</div>
                        </div>
                         
                        <div class="row-fluid">
                            <div class="span6 container">
                            
                                    <div class="row">
                                      <div class="span12"><h3>Born</h3> </div>
                                    </div>
                                    <div class="row">
                                      <div class="span12">Chicago, Illinois, 1947</div>
                                    </div>
                                    <div class="row">
                                    <div class="span1"><h3>EDUCATION</h3></div>
                                    <div class="span11"></div>
                                </div>
                                    <div class="row">
                                        <div class="span1">1971</div>
                                        <div class="span11">B.A. The University of Dallas, Irving, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1975</div>
                                        <div class="span11">M.F.A. Southern Methodist University, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span11"><h3>SOLO EXHIBITIONS</h3></div>
                                        <div class="span1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2005</div>
                                        <div class="span11">Faculty Projects 14, The Forum Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2004</div>
                                        <div class="span11">Rick Maxwell:  Recent Works, The Bridge Gallery, Mountainview College, Oak Cliff, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2001</div>
                                        <div class="span11">50 Bad Dogs, The Studio Gallery, Brookhaven College School of the Arts, Farmers Branch, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1991</div>
                                        <div class="span11">Rick Maxwell Ladders, Eastfield College, Mesquite, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1985</div>
                                        <div class="span11">Rick Maxwell New Works, Rubin/Mardin Gallery, Seattle, Washington</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1982</div>
                                        <div class="span11">Constructed Paintings, D.W. Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1981</div>
                                        <div class="span11">Rick Maxwell, Laguna Gloria Art Museum, Austin, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1981</div>
                                        <div class="span11">Rick Maxwell, The Trickster, Grahm Gallery, Houston, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1980</div>
                                        <div class="span11">Rick Maxwell, The Waco Art Center, Waco, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1980</div>
                                        <div class="span11">Rick Maxwell Paintings and Drawings, D.W. Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1978</div>
                                        <div class="span11">Rick Maxwell Recent Work, Clifford Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1976</div>
                                        <div class="span11">Maxwell, Gallery 13, KERA-TV, Dallas, Texas</div>
                                    </div>
                                </div>
                               
                            <div class="span6 container">
                                    <div class="row">
                                        <div class="span11"><h3>GROUP EXHIBITIONS</h3></div>
                                        <div class="span1"></div>
                                   </div>
                                 <div class="row">
                                        <div class="span1">2014</div>
                                        <div class="span11">Art Couples, Bathhouse cultural Art Center, Dallas Texas</div>
                                    </div>
                                 <div class="row">
                                        <div class="span1">2013</div>
                                        <div class="span11">Dallas Morning News Lamar Street Arts and Music Festival, Dallas Texas</div>
                                    </div>
                                 <div class="row">
                                        <div class="span1">2010</div>
                                        <div class="span11">Maxwell, Newman, and Taylor Sculpture Photography and Painting Haggerty Gallery, The University of Dallas, Irving Texas</div>
                                    </div>
                                 <div class="row">
                                        <div class="span1">2009</div>
                                        <div class="span11">Brock/Maxwell Painting and Sculpture, Brock Galleries Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2007</div>
                                        <div class="span11">Lisa Ehrich, Rick Maxwell, Ceramics/Sculpture, Eastern Oklahoma University, Ada, Oklahoma</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2005</div>
                                        <div class="span11">Form, Fire and Fiction, Plano Art Center, Plano, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">2004</div>
                                        <div class="span11">Drawn For, Barry Whistler Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1998</div>
                                        <div class="span11">Art in the Metroplex, Texas Christian University, Ft. Worth, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1989</div>
                                        <div class="span11">AMST V, Art Museum of South Texas, Corpus Christi, Texas </div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1987</div>
                                        <div class="span11">Critic's Choice, Dallas Visual Art Center, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1987</div>
                                        <div class="span11">Five State Art Exhibit, Gallery of Port Arthur, Port Arthur, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1982</div>
                                        <div class="span11">Fire, Houston Museum of Contemporary Art, Houston, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1981</div>
                                        <div class="span11">The House As Image, Lawndale Annex, Houston, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1980</div>
                                        <div class="span11">Inside Texas Borders, South Texas Artmobile, Corpus Christi, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1979</div>
                                        <div class="span11">12: An Invitational of Twelve Regional Artists, Dallas Museum of Art, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1978</div>
                                        <div class="span11">The Tree Show, D.W. Gallery, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1">1977</div>
                                        <div class="span11">The Southwest Tarrant County Annual, Ft. Worth, Modern Museum, Ft. Worth, Texas</div>
                                    </div>
                                     <div class="row">
                                         <br />
                                        <div class="span11"><h3>COLLECTIONS/COMMISSIONS</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Omni Corporation</div>
                                        <div class="row">
                                        <div class="span1"></div><div class="span11">Marriott Corporation</div>
                                    </div>
                                        <div class="row">
                                        <div class="span1"></div><div class="span11">Shady Oaks Country Club</div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Atlantic Richfield Company, Los Angeles, California</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Los Angeles County Museum, Los Angeles, California</div> 
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Dallas Museum of Art, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Museum of Fine Art, Houston, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">Southwestern Bell, Dallas, Texas</div>
                                    </div>
                                    <div class="row">
                                        <div class="span1"></div><div class="span11">El Centro College, Dallas, Texas</div>
                                    </div>
                                   
                                </div>
                           
                         </div>
                      <hr class="separator_medium">   
                      </div>            
                     
                    
                    <!-- tab4_3 Links -->
                    <div class="tab-pane fade" id="tab4_3" >
                    	<div class="row-fluid">
                        	<div class="span12">
                        		<h2>Links</h2>
                            	<hr>
                        	</div>
                        </div>
                        
                       <div class="row-fluid">
                            <div class="team">
                                 <div class="thumbnail-mini">
                                     <img src="~/Content/images/artist/image31.jpg" class="img-rounded-mini" alt="Lisa Ehrich - Sculptor"> 
                                   </div>     
                                       <h4 >Lisa Ehrich</h4>
                                       <h5 class="tiny_font">Fine Arts Clay Sculptor </h5> 
                                       <h6 class="highlight_color"><em>
                                          <a href="http://lisaehrich.com" target="_blank" title="Lise Ehrich website">lisaehrich.com</a></em></h6>
                                <br /> 
                                <hr class="separator_mini">                                                      
					         </div>
                              <div class="team">
                                         <div class="thumbnail-mini">
                                             <img src="~/Content/images/artist/image32.jpg" class="img-rounded-mini" alt="Jim Bowman - Glass Sculptor"> </li>
                                          </div>
                                               <h4>Jim Bowman</h4>
                                               <h5 class="tiny_font">Glass Sculptor </h5> 
                                               <h6 class="highlight_color"><em>
                                                  <a href="http://www.bowmanglass.com/" target="_blank" title="Jim Bowman website">bowmanglass.com</a></em></h6>
                                           <br />
                                        <hr class="separator_mini">                                                      
					         </div>

                              <div class="team">
                                         <div class="thumbnail-mini">
                                             <img src="~/Content/images/artist/image33.jpg" class="img-rounded-mini" alt="The Extreme Wood Bending Company"> 
                                          </div> 
                                               <h4>Pure Timber LLC</h4>
                                               <h5 class="tiny_font">Extreme Wood Bending Company</h5> 
                                               <h6 class="highlight_color"><em>
                                                  <a href="http://www.puretimber.com/" target="_blank" title="Extreme wood Bending website">puretimber.com</a></em></h6>
                                           <br /> 
                                <hr class="separator_mini">                                                      
					         </div>
                        </div>
                    </div>   
			     </div>            
              </div>
          </div>
       
       </div>
  


</div>





<!-- Contact -->
       
<div data-id="!contact" class="contentWrapper contactPage darkStyle fullHeight parallax removePadding"   
    data-src="../Content/images/artist/image3.jpg" data-src-small="../Content/images/artist/image3.jpg" > <!--  data-src="../Content/images/background/image2.jpg" data-src-small="images/background/image2_s.jpg" >-->

    <hr class="top_space">    
    
    <div class="container desktop_alignLeft">     	
        <div class="row"> 
            <div class="span12" >
				<h1 class="fittext3 white_color">Contact</h1>
            </div>
        </div>
    </div>
    
    
	<div class="bar_content transparent bottomSpace_mini"> 
        <div class="container desktop_alignLeft">
            <div class="row">
				<div class="span5">
					<h2 >Let's talk about art</h2>
				</div>
                <div class="span7">
                    <ul class="font_awesome topSpace_mini" >            	               
                        <li ><a ><i class="fa fa-facebook"></i></a></li>
                        <li ><a ><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
    
    <hr class="separator_mini">
    
   <!-- <div class="fullWidth" >     	
         <div id="map_canvas" > 
             Google map load error message 
            <div class="pad left_spacing"> <h6><a><em>!Google Map is not Loaded, click here to see the map </em></a></h6> </div>
        </div>  
    </div>-->
    
    

   <hr class="separator_mini">
         
    <div class="container darkStyle desktop_alignLeft" >       	 
        
        <div class="row" >
        
            <div class="span4" >
                <h3 class="upperCase bold_weight"> Maxwell Studios:</h3>
                <h4><em> 
                1419A Griffin Street East<br/>
                Dallas, Texas 75215
                </em></h4>
                <br/>
            </div> 
            
            <div class="span4" >                 
                <h4><em>
                Phone: 214.232.7524<br/>
                </em></h4>
                            
                <h4><em> 
                    Email: <a>maxwell2472@sbcglobal.net</a> 
                </em></h4><br/>
            </div> 
        </div>
        
        <div class="row" >
            <div class="span12">
                <h4 class="upperCase bold_weight">
                    SEND MESSAGE:
                </h4>
                <hr>
            </div>
            <div class="span12">
                <div class="row transparent">
                    <!--Email contact Form-->
                    <form name="contact " method="post" >
                        <div class="span3">
                            <input type="text" value="Name" id="name" name="name" class="span3" 
                        onfocus="if(this.value == 'Name') {this.value = '';}"	
                        onblur="if (this.value == '') {this.value = 'Name';}" />
                        </div>
                        <div class="span3">
                            <input type="text" value="Email" id="email" name="email" class="span3"  
                        onfocus="if(this.value == 'Email') {this.value = '';}"  
                        onblur="if (this.value == '') {this.value = 'Email';}" />
                        </div>
    
                        <div class="span12">
                            <textarea cols="30" rows="5" id="comments" name="comments" class="span6"	
                        onfocus="if(this.value == 'Comments...') {this.value = '';}" 
                        onblur="if (this.value == '') {this.value = 'Comments...';}">Comments...</textarea>
    
                        </div>
                        <div class="span6">
                            <button type="submit" id="email_submit"  class="button transparent alignLeft">SEND</button>                                  
                            <div id="reply_message" ></div> 
                        </div>
                    </form>
                </div>                    
                <hr>
            </div>               
                           
        </div>
        
        <hr class="separator_max">
                    
    </div>           
	
</div>




<div data-id="!bottomArea" class="contentWrapper darkStyle backGround removePadding top_border" >
	<hr>  
    
    <!-- Center Align Page
    To make the  bottom Area align center, just add the class name container and remove the class name container-fluid to the below div -->
    <div class="container-fluid desktop_alignLeft">
        <div class="row-fluid">       
            <div class="span3">            	
                <h5 class="bold_weight">Quick link</h5>
                <p> <a class="normal" href="#!home">Home</a>
                    <a class="normal" href="#!portfolio">Works</a><br>
                    <a class="normal" href="#!studio">Studio</a><br>
                    <a class="normal" href="#!info">Info</a><br>
                    <a class="normal" href="#!about">About</a><br>
                    
                </p>
                <hr>                
            </div>         
        </div>
        
        <hr>
        
        <div class="row-fluid"> 
        	<div class="span6 tiny_font">
            </div>
            <div class="span3 ">
            </div>
            <div class="span3">
            	<ul class="font_awesome">
                    <li ><a ><i class="fa fa-facebook"></i></a></li>
                    <li ><a ><i class="fa fa-google-plus"></i></a></li>
                </ul> 
            </div>
        </div>
        
        <hr>
        <div class="separator_mini"></div>
        <hr>
    </div>  
</div>




</div>




