@{
    ViewBag.Title = "Rick Maxwell - sculptor";
}


<div class="bodyContainer">
  
<!-- Homepage  -->
<div  data-id="!home" class="contentWrapper darkStyle homeSlider fullHeight parallax" >
   
    
	<!-- Supersized home page slider show Arrow Navigation, To position the navigation to center, just remove the centerPosition class-->
    <div id="superNav" >
        <a id="prevslide" class="load-item" ></a>
        <a id="nextslide" class="load-item" ></a>
        <a id="play-button"  class="load-item" ><img id="pauseplay" src="../Content/images/supersized/pause.png" alt="image text" /></a>
    </div> 
    
    
    <!-- fullscreen slideshow animation text, See the superGalleryInit function on header area. 
    If you need to remove the slideshow just remove the below tag and superGalleryInit function completely -->
	<div class="homepage_con" > 
         <!-- Homepage fullscreen slideshow Title text 4 -->
        <div class="home_slider_title1 sliderStyle1" >
            <div class="text_mask bgCaption">
                <div class="text_hold">
                    <h1 class="large_text">Rick Maxwell </h1>
                    <h2 class="highlight_color large_text" >Wood Sculptor</h2>
                </div>
            </div>
        </div>              
	</div>
</div>

 <!-- Work Portfolio Page -->
<div data-id="!work" class="contentWrapper darkStyle backGround fullHeight removePadding">
<hr class="top_space">
    <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="fittext3 white_color">WORK</h1>
                </div>
            </div>
        </div>

        <!-- Tab section -->
        <div class="bar_content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <!-- Tab navigations -->
                        <ul class="nav-tabs plainTab">
                            <li class="active"><a href="#tab2_1" data-toggle="tab">Bent Wood</a></li>
                            <li><a href="#tab2_2" data-toggle="tab">Wall Relief</a></li>
                            <li><a href="#tab2_3" data-toggle="tab">Sculpture 2010-2005</a></li>
                            <li><a href="#tab2_4" data-toggle="tab">Sculpture 2004-1999</a></li>
                            <li><a href="#tab2_5" data-toggle="tab">Drawings - present to 2010</a></li>
                            <li><a href="#tab2_6" data-toggle="tab">Drawings - archive</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12">

               <!--       Tab Content -->
                   <div class="tab-content">

                        <!-- tab2_1 Bent Wood -->
                        <div class=" tab-pane fade in active" id="tab2_1">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Bent Wood</h2>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="bentwood" class=" elastic_slider">
                                        <ul class="carousel elastislide-list">
                                            <li class="pane1">
                                                <img class="lazyload" src="~/Content/images/bentwood/image0.jpg" alt="Rick Maxwell-Meandering Way 4'X45'Beech - Collection of the Omni Corporation" />
                                                <h5 class="desc">Meandering Way 4'x 45'  Beech
                                                                <br />
                                                    Collection of the Omni Corporation</h5>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="~/Content/images/bentwood/image2.jpg" alt="Rick Maxwell-Meandering Way, 4'X 47', Beech, Collection of the Omni Corporation" />
                                                <h5 class="desc">Meandering Way, 4'x 47', Beech
                                                                <br />
                                                    Collection of the Omni Corporation</h5>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="~/Content/images/bentwood/image3.jpg" alt="Rick Maxwell-Meandering Way 2, 4'X45', Beech, Collection of the Omni Corporation" />
                                                <h5 class="desc">Meandering Way, 4'x 47', view 2, Beech
                                                                <br />
                                                    Collection of the Omni Corporation</h5>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="~/Content/images/bentwood/image4.jpg" alt="Rick Maxwell-Meandering Way, 4'x 47', view 2, Beech - Collection of the Omni Corporation" />
                                                <h5 class="desc">Meandering Way, 4'x 47', view 2, Beech
                                                                <br />
                                                    Collection of the Omni Corporation</h5>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="~/Content/images/bentwood/image5.jpg" alt="Rick Maxwell-Aspen Loops, 4'x 37', Oak - view 1" />
                                                <h5 class="desc">Aspen Loops, 4'x 37', Oak </h5>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="~/Content/images/bentwood/image6.jpg" alt="Rick Maxwell-Aspen Loops, 4'x 37', Oak - view 2" />
                                                <h5 class="desc">Aspen Loops, 4'x 37', Oak - view 2</h5>
                                            </li>
                                            <li class="pane7">
                                                <img class="lazyload" src="~/Content/images/bentwood/image7.jpg" alt="Rick Maxwell-Aspen Install with Jeff Hogen" />
                                                <h5 class="desc">Aspen Install with Jeff Hogen</h5>
                                            </li>
                                            <li class="pane8">
                                                <img class="lazyload" src="~/Content/images/bentwood/image8.jpg" alt="Rick Maxwell-Aspen Studio Detail" />
                                                <h5 class="desc">Aspen Studio Detail</h5>
                                            </li>
                                            <li class="pane9">
                                                <img class="lazyload" src="~/Content/images/bentwood/image9.jpg" alt="Rick Maxwell-Aspen Loops, Detail" />
                                                <h5 class="desc">Aspen Loops, Detail</h5>
                                            </li>
                                            <li class="pane10">
                                                <img class="lazyload" src="~/Content/images/bentwood/image10.jpg" alt="Rick Maxwell-Shady Oaks 3.5'X12' Maple" />
                                                <h5 class="desc">Shady Oaks 3.5'x 12' Maple</h5>
                                            </li>
                                            <li class="pane11">
                                                <img class="lazyload" src="~/Content/images/bentwood/image11.jpg" alt="Rick Maxwell-Shady Oaks 3.5'X10'" />
                                                <h5 class="desc">Shady Oaks 3.5'x 10'</h5>
                                            </li>
                                            <li class="pane12">
                                                <img class="lazyload" src="~/Content/images/bentwood/image12.jpg" alt="Rick Maxwell-Shady Oaks Install" />
                                                <h5 class="desc">Shady Oaks Install</h5>
                                            </li>
                                            <li class="pane13">
                                                <img class="lazyload" src="~/Content/images/bentwood/image13.jpg" alt="Rick Maxwell-Musica Musica 9'X4.5' Dyed Oak" />
                                                <h5 class="desc">Musica Musica 9'x 4.5' Dyed Oak</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tab2_2 Wall Relief -->
                        <div class="tab-pane fade in" id="tab2_2">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Wall Relief</h2>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="wallrelief" class="elastislide-wrapper elastic_slider carousel-container">
                                        <ul class="carousel elastislide-list ">
                                            <li class="pane1">
                                                <img class="lazyload" src="~/Content/images/wall/wall1.jpg" alt="Rick Maxwell-Wall Relief 2" />
                                                <h4 class="desc">Wall Relief 2, Studio Study - 10'x 5' Oak</h4>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="~/Content/images/wall/wall2.jpg" alt="Rick Maxwell-Wall Relief" />
                                                <h4 class="desc">Wall Relief - 8'x 5' Oak</h4>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="~/Content/images/wall/wall3.jpg" alt="Rick Maxwell-Wall Relief, Studio Study" />
                                                <h4 class="desc">Wall Relief, Studio Study - 8'x 5' Oak</h4>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="~/Content/images/wall/wall4.jpg" alt="Rick Maxwell-Wall Rings" />
                                                <h4 class="desc">Wall Rings - 39" x 19" Oak</h4>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="~/Content/images/wall/wall5.jpg" alt="Rick Maxwell-3Lines 2Balls" />
                                                <h4 class="desc">3Lines 2Balls Studio Study - 6'x 3' Oak3</h4>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="~/Content/images/wall/wall6.jpg" alt="Rick Maxwell-3Rings 4Balls" />
                                                <h4 class="desc">Rings 4Balls - 39" x 19" Oak</h4>
                                            </li>
                                        </ul>
                                        <!--     </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tab2_3 Sculpture2010 -->
                        <div class="tab-pane fade in" id="tab2_3">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Sculpture - Present to 2010</h2>
                                </div>
                            </div>
                                <div class="row-fluid">
                                <div class="span12">

                                    <div id="sculpture2010" class="elastislide-wrapper elastic_slider carousel-container">
                                        <ul class="carousel elastislide-list ">
                                            <li class="pane1">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image1.jpg" alt="Rick Maxwell-Table Stories 8'x 5' Cedar" />
                                                <h4 class="desc">Table Stories 8'x 5' Cedar</h4>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image2.jpg" alt="Rick Maxwell-Table Stories Spot, Detail" />
                                                <h4 class="desc">Table Stories Spot, Detail</h4>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image3.jpg" alt="Rick Maxwell-Table Stories Sky House, Detail" />
                                                <h4 class="desc">Table Stories Sky House, Detail</h4>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image4.jpg" alt="Rick Maxwell-Table Stories, Houses, Detail" />
                                                <h4 class="desc">Table Stories, Houses, Detail</h4>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image5.jpg" alt="Rick Maxwell-Urban Jester" />
                                                <h4 class="desc">Urban Jester</h4>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image6.jpg" alt="Rick Maxwell-Urban Jester Detail" />
                                                <h4 class="desc">Urban Jester, Detail</h4>
                                            </li>
                                            <li class="pane7">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image7.jpg" alt="Rick Maxwell-Balance Totem House" />
                                                <h4 class="desc">Balance Totem House</h4>
                                            </li>
                                            <li class="pane8">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image8.jpg" alt="Rick Maxwell-Balance Totem House, Detail" />
                                                <h4 class="desc">Balance Totem House, Detail</h4>
                                            </li>
                                            <li class="pane9">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image9.jpg" alt="Rick Maxwell-Bunny" />
                                                <h4 class="desc">Bunny</h4>
                                            </li>
                                            <li class="pane10">
                                                <img class="lazyload" src="/Content/images/sculpture2010/image10.jpg" alt="Rick Maxwell-Bunny, Detail" />
                                                <h4 class="desc">Bunny, Detail</h4>
                                            </li>
                                        </ul>
                                    </div>
                             </div>
                            </div>
                        </div>

                            <!-- tab2_4 Sculpture2004 -->
                        <div class="tab-pane fade in" id="tab2_4">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>sculpture - 2004 - 1999</h2>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="sculpture2004" class="elastislide-wrapper elastic_slider carousel-container">
                                        <ul class="carousel elastislide-list ">
                                            <li class="pane1">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image1.jpg" alt="Rick Maxwell-Ascending" /><br>
                                                <h4 class="desc">Ascending</h4>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image2.jpg" alt="Rick Maxwell-Black Flower 6.5x 3.5 Oak, Pecan" /><br>
                                                <h4 class="desc">Black Flower 6.5x 3.5 Oak, Pecan</h4>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image3.jpg" alt="Rick Maxwell-Black Flower, Detail" /><br>
                                                <h4 class="desc">Black Flower, Detail</h4>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image4.jpg" alt="Rick Maxwell-Black Spine, White Spine 24' x 6'" /><br>
                                                <h4 class="desc">Black Spine, White Spine 24'x 6'</h4>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image5.jpg" alt="Rick Maxwell-Bad Brush 6'x 2' Oak" /><br>
                                                <h4 class="desc">Bad Brush 6'x 2' Oak</h4>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="/Content/images/sculpture2004/image6.jpg" alt="Rick Maxwell-Various Brush Table Sculptures, Oak" /><br>
                                                <h4 class="desc">Various Brush Table Sculptures, Oak</h4>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tab2_5 Drawing2014 -->
                        <div class="tab-pane fade in" id="tab2_5">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Charcoal Drawings - recent</h2>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="draw2014" class="elastislide-wrapper elastic_slider carousel-container">
                                        <ul class="carousel elastislide-list ">
                                            <li class="pane1">
                                                <img class="lazyload" src="/Content/images/drawing2014/image1.jpg" alt="Rick Maxwell-Drawing-1 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-1 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="/Content/images/drawing2014/image2.jpg" alt="Rick Maxwell-Drawing-2 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-2 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="/Content/images/drawing2014/image3.jpg" alt="Rick Maxwell-Drawing-3 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-3 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="/Content/images/drawing2014/image4.jpg" alt="Rick Maxwell-Drawing-4 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-4 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="/Content/images/drawing2014/image5.jpg" alt="Rick Maxwell-Drawing-5 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-5 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="/Content/images/drawing2014/image6.jpg" alt="Rick Maxwell-Drawing-6 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-6 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane7">
                                                <img class="lazyload" src="/Content/images/drawing2014/image7.jpg" alt="Rick Maxwell-Drawing-7 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-7 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane8">
                                                <img src="/Content/images/drawing2014/image8.jpg" alt="Rick Maxwell-Drawing-8 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-8 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane9">
                                                <img class="lazyload" src="/Content/images/drawing2014/image9.jpg" alt="Rick Maxwell-Drawing-9 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-9 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane10">
                                                <img class="lazyload" src="/Content/images/drawing2014/image10.jpg" alt="Rick Maxwell-Drawing-10 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-10 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane11">
                                                <img class="lazyload" src="/Content/images/drawing2014/image11.jpg" alt="Rick Maxwell-Drawing-11 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-11 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane12">
                                                <img class="lazyload" src="/Content/images/drawing2014/image12.jpg" alt="Rick Maxwell-Drawing-12 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-12 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane13">
                                                <img class="lazyload" src="/Content/images/drawing2014/image13.jpg" alt="Rick Maxwell-Drawing-13 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-13 40"x30" Charcoal></h4>
                                            </li>
                                            <li class="pane14">
                                                <img class="lazyload" src="/Content/images/drawing2014/image14.jpg" alt="Rick Maxwell-Drawing-14 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-14 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane15">
                                                <img class="lazyload" src="/Content/images/drawing2014/image15.jpg" alt="Rick Maxwell-Drawing-15 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-15 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane16">
                                                <img class="lazyload" src="/Content/images/drawing2014/image16.jpg" alt="Rick Maxwell-Drawing-16 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-16 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane17">
                                                <img class="lazyload" src="/Content/images/drawing2014/image17.jpg" alt="Rick Maxwell-Drawing-17 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-17 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane18">
                                                <img class="lazyload" src="/Content/images/drawing2014/image18.jpg" alt="Rick Maxwell-Drawing-18 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-18 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane19">
                                                <img class="lazyload" src="/Content/images/drawing2014/image19.jpg" alt="Rick Maxwell-Drawing-19 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-19 40"x30" Charcoal</h4>
                                            </li>
                                            <li class="pane20">
                                                <img class="lazyload" src="/Content/images/drawing2014/image20.jpg" alt="Rick Maxwell-Drawing-20 40x30 Charcoal" /><br>
                                                <h4 class="desc">Drawing-20 40"x30" Charcoal</h4>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        <!-- tab2_6 Drawing2009 -->
                        <div class="tab-pane fade in" id="tab2_6">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Drawings - archive </h2>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="draw2009" class="elastislide-wrapper elastic_slider carousel-container">
                                        <ul class="carousel elastislide-list ">
                                            <li class="pane1">
                                                <img class="lazyload" src="/Content/images/drawing2009/image1.jpg" alt="Rick Maxwell-Reed Dancer III 40x30 Charcoal" /><br>
                                                <h5 class="desc">Reed Dancer III 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane2">
                                                <img class="lazyload" src="/Content/images/drawing2009/image2.jpg" alt="Rick Maxwell-Reed Dancer IV 40x30 Charcoal" /><br>
                                                <h5 class="desc">Reed Dancer IV 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane3">
                                                <img class="lazyload" src="/Content/images/drawing2009/image3.jpg" alt="Rick Maxwell-Reed Dancer I 40x30 Charcoal" /><br>
                                                <h5 class="desc">Reed Dancer I 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane4">
                                                <img class="lazyload" src="/Content/images/drawing2009/image4.jpg" alt="Rick Maxwell-Touch 40x30 Charcoal" /><br>
                                                <h5 class="desc">Touch 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane5">
                                                <img class="lazyload" src="/Content/images/drawing2009/image5.jpg" alt="Rick Maxwell-Flower 40x30 Charcoal" /><br>
                                                <h5 class="desc">Flower 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane6">
                                                <img class="lazyload" src="/Content/images/drawing2009/image6.jpg" alt="Rick Maxwell-Honey Pot 40x30 Charcoal" /><br>
                                                <h5 class="desc">Honey Pot 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane7">
                                                <img class="lazyload" src="/Content/images/drawing2009/image7.jpg" alt="Rick Maxwell-Circles 40x30 Charcoal" /><br>
                                                <h5 class="desc">Circles 40"x30" Charcoal</h5>
                                            </li>
                                            <li class="pane8">
                                                <img class="lazyload" src="/Content/images/drawing2009/image8.jpg" alt="Rick Maxwell-Reed Dancer II 40x30 Charcoal" /><br>
                                                <h5 class="desc">Reed Dancer II 40"x30" Charcoal</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                          
  
                  </div>
                </div>
            </div>
        </div>
    <hr class="separator_max" /> 
</div>

    <!-- Videos page -->
    <div class="contentWrapper fullHeight backGround darkStyle" data-id="!videos">
         <hr class="top_space">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="fittext3 white_color">Video</h1>
                </div>
            </div>
        </div>

        <!-- Tab section -->
       <!-- <div class="bar_content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                         Tab navigations
                        <ul class="nav-tabs plainTab">
                            <li class="active"><a href="#tab3_1" data-toggle="tab">Bending Wood</a></li>
                            <li ><a href="#tab3_2" data-toggle="tab">Sculpture On Swiss</a></li>
                            <li><a href="#tab3_3" data-toggle="tab"> Aspen Installation - 2013</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="span12">
                    <!--    Tab Content -->
                    <div class="tab-content">

                        <!-- tab3_1 Bending video -->
                        <div class="tab-pane fade" id="tab3_1">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Bending Wood</h2>
                                </div>
                            </div>
                        </div>
                        <div class="container max_height">
                            <div class="row-fluid">
                                <div class="span12 text-center">
                                    <div>
                                        <div>
                                            <h4><span class="light_color">COLD COMPRESSION</span></h4>
                                        </div>
                                        <div>
                                            <h6><span class="light_color"><em>The process of 'Cold Compression' allows the artistic bending of hard wood</em></span></h6>
                                        </div>
                                    </div>

                                    <iframe src="//player.vimeo.com/video/57910940?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


                                    <!--     <div class="addVideo video_content backgroundVideo" data-url="http://vimeo.com/57910940" ></div>-->
                                </div>


                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <hr class="separator_max">
</div>
                     <!-- tab3_2 Sculpture on Swiss Video -->
                   <!--  <div class="tab-pane fade in active" id="tab3_2">
                         <div class="row-fluid">
                             <div class="span12">
                                 <h2>Sculpture On Swiss</h2>
                             </div>
                         </div>
                         </div>
                         <div class="container max_height desktop_alignLeft">
                             <div class="row-fluid">
                                 <div class="span12">
                                     <img src="~/Content/images/info/image2.jpg" data-no-retina alt="Sculpture On Swiss Video" />
                                     <hr>
                                 </div>
                             </div>
                         </div>-->
                 

                     <!-- tab3_3 Aspen video 
                     <div class="tab-pane fade" id="tab3_3">
                         <div class="row-fluid">
                             <div class="span12">
                                 <h2>Aspen installation - 2013</h2>
                                 <hr>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </div>       
    
   <hr class="separator_max">
</div>-->


<!-- Info page -->
    <div data-id="!info" class="contentWrapper fullHeight backGround darkStyle">

        <hr class="top_space">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="fittext3 white_color">INFO</h1>
                </div>
            </div>
        </div>

        <!-- Tab section -->
        <div class="bar_content bottomSpace_mini">
            <div class="container">
                <div class="row">
                    <div class="span12">

                        <ul class="nav-tabs plainTab">
                            <li class="active"><a href="#tab4_1" data-toggle="tab">Statement</a></li>
                            <li><a href="#tab4_2" data-toggle="tab">Studio</a></li>
                            <li><a href="#tab4_3" data-toggle="tab">Bio</a></li>
                            <li><a href="#tab4_4" data-toggle="tab">Links</a></li>
                        </ul>
                    </div>
                </div>
            </div>
       </div>

        <div class="container">
            <div class="row">
                <div class="span12">

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- tab4_1 Statement -->
                        <div class="tab-pane fade in active" id="tab4_1">

                         <div class="row-fluid">
                        	<div class="span12">
                        		<h2>Artist Statement</h2>
                        		<hr>
                        	</div>
                        </div>
                            <div class="row-fluid">
                                <div class="span 12">
                                    <div class="row">
                                        <div class="span4">

                                            <img class="img-rounded-mini" src="~/Content/images/artist/RMportrait.jpg" title="Rick Maxwell - wood sculptor" alt="Rick Maxwell - photo" />

                                        </div>
                                        <div class="span6 vcenter">
                                            <hr class="separator_max" />
                                            In the past 40 years, I've written many 'Artist Statements'. Some were insightful, some were intellectual, some were humorous and a few were even embarrassing. Now, after all this time, what it's come down to is exactly where it started. I enjoy being an artist because I enjoy the simple task of making the art. For me the process has always had a stronger allure than standing in front of the finished piece. I love the tools I work with, the materials I work in, and the empathy I experience as I move through the process. Simply said, "I'm an artist because I'm addicted to making art."                             
                                     <img style="float: right; margin: 20px;" src="~/Content/images/artist/Rick-signature.jpg" alt="Rick Maxwell signature" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tab4_2 Studio -->
                        <div class="tab-pane fade in" id="tab4_2">

                            <div class="row-fluid">
                        	<div class="span12">
                        		<h2>My Studio</h2>
                        		<hr>
                        	</div>
                        </div>

                            <div class="row-fluid three_column text-center">
                                <div class="span12">
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio1.jpg" alt="Rick Maxwell studio work - 1" />
                                        </div>
                                    </div>

                                    <div class="part feature"><div class="img-rounded-mini">
                                       <!-- <a class="magnificPopup" data-title='<span class="upperCase bold_weight">hello</span>'  href="images/portfolio/image4.jpg" target="_self" > 
                                        	<span class="overlay zoom"> </span>  </a>
                                        
                                           <a class="lazyload" href="~/Content/images/studio/studio2.jpg" title="Rick Maxwell studio work - 2" ></a>-->
                                             <img class="lazyload" src="~/Content/images/studio/studio2.jpg" alt="Rick Maxwell studio work - 2" />
                                        </div>
                                    </div>

                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio3.jpg" alt="Rick Maxwell studio work - 3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid three_column text-center">
                                <div class="span12">
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio5.jpg" alt="Rick Maxwell studio work - 5" />
                                        </div>
                                    </div>
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio6.jpg" alt="Rick Maxwell studio work - 6" />
                                        </div>
                                    </div>

                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio7.jpg" alt="Rick Maxwell studio work - 7" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid three_column text-center">
                                <div class="span12">
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio8.jpg" alt="Rick Maxwell studio work - 8" />
                                        </div>
                                    </div>
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio9.jpg" alt="Rick Maxwell studio work - 9" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid three_column text-center">
                                <div class="span12">
                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio-tall1.jpg" alt="Rick Maxwell studio work - 11" />
                                        </div>
                                    </div>

                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio-tall2.jpg" alt="Rick Maxwell studio work - 12" />
                                        </div>
                                    </div>

                                    <div class="part feature">
                                        <div class="img-rounded-mini">
                                            <img class="lazyload" src="~/Content/images/studio/studio-tall3.jpg" alt="Rick Maxwell studio work - 13" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- tab4_3 Biography -->
                        <div class="tab-pane fade" id="tab4_3">

                            <div class="row-fluid">
                        	<div class="span12">
                        		<h2>Biography - Exhibits - Collections</h2>
                        		<hr>
                        	</div>
                        </div>
                            <div class="row-fluid">
                                <div class="span12 ">
                                    <div class="bio-background">
                                        <div class="span6">
                                            <div class="bar_content transparent bottomSpace_mini">
                                                <div class="row">
                                                    <div class="span12">
                                                        <h3>Born</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="span12">Chicago, Illinois, 1947</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">
                                                        <h3>EDUCATION</h3>
                                                    </div>
                                                    <div class="span11"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1971</div>
                                                    <div class="span11">B.A. The University of Dallas, Irving, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1975</div>
                                                    <div class="span11">M.F.A. Southern Methodist University, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span11">
                                                        <h3>SOLO EXHIBITIONS</h3>
                                                    </div>
                                                    <div class="span1"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2005</div>
                                                    <div class="span11">Faculty Projects 14, The Forum Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2004</div>
                                                    <div class="span11">Rick Maxwell:  Recent Works, The Bridge Gallery, Mountainview College, Oak Cliff, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2001</div>
                                                    <div class="span11">50 Bad Dogs, The Studio Gallery, Brookhaven College School of the Arts, Farmers Branch, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1991</div>
                                                    <div class="span11">Rick Maxwell Ladders, Eastfield College, Mesquite, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1985</div>
                                                    <div class="span11">Rick Maxwell New Works, Rubin/Mardin Gallery, Seattle, Washington</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1982</div>
                                                    <div class="span11">Constructed Paintings, D.W. Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1981</div>
                                                    <div class="span11">Rick Maxwell, Laguna Gloria Art Museum, Austin, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1981</div>
                                                    <div class="span11">Rick Maxwell, The Trickster, Grahm Gallery, Houston, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1980</div>
                                                    <div class="span11">Rick Maxwell, The Waco Art Center, Waco, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1980</div>
                                                    <div class="span11">Rick Maxwell Paintings and Drawings, D.W. Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1978</div>
                                                    <div class="span11">Rick Maxwell Recent Work, Clifford Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1976</div>
                                                    <div class="span11">Maxwell, Gallery 13, KERA-TV, Dallas, Texas</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="span6">
                                            <div class="bar_content transparent bottomSpace_mini">

                                                <div class="row">
                                                    <div class="span11">
                                                        <h3>GROUP EXHIBITIONS</h3>
                                                    </div>
                                                    <div class="span1"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2014</div>
                                                    <div class="span11">Art Couples, Bathhouse cultural Art Center, Dallas Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2013</div>
                                                    <div class="span11">Dallas Morning News Lamar Street Arts and Music Festival, Dallas Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2010</div>
                                                    <div class="span11">Maxwell, Newman, and Taylor Sculpture Photography and Painting Haggerty Gallery, The University of Dallas, Irving Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2009</div>
                                                    <div class="span11">Brock/Maxwell Painting and Sculpture, Brock Galleries Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2007</div>
                                                    <div class="span11">Lisa Ehrich, Rick Maxwell, Ceramics/Sculpture, Eastern Oklahoma University, Ada, Oklahoma</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2005</div>
                                                    <div class="span11">Form, Fire and Fiction, Plano Art Center, Plano, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">2004</div>
                                                    <div class="span11">Drawn For, Barry Whistler Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1998</div>
                                                    <div class="span11">Art in the Metroplex, Texas Christian University, Ft. Worth, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1989</div>
                                                    <div class="span11">AMST V, Art Museum of South Texas, Corpus Christi, Texas </div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1987</div>
                                                    <div class="span11">Critic's Choice, Dallas Visual Art Center, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1987</div>
                                                    <div class="span11">Five State Art Exhibit, Gallery of Port Arthur, Port Arthur, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1982</div>
                                                    <div class="span11">Fire, Houston Museum of Contemporary Art, Houston, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1981</div>
                                                    <div class="span11">The House As Image, Lawndale Annex, Houston, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1980</div>
                                                    <div class="span11">Inside Texas Borders, South Texas Artmobile, Corpus Christi, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1979</div>
                                                    <div class="span11">12: An Invitational of Twelve Regional Artists, Dallas Museum of Art, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1978</div>
                                                    <div class="span11">The Tree Show, D.W. Gallery, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1">1977</div>
                                                    <div class="span11">The Southwest Tarrant County Annual, Ft. Worth, Modern Museum, Ft. Worth, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <br />
                                                    <div class="span11">
                                                        <h3>COLLECTIONS/COMMISSIONS</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Omni Corporation</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Marriott Corporation</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Shady Oaks Country Club</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Atlantic Richfield Company, Los Angeles, California</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Los Angeles County Museum, Los Angeles, California</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Dallas Museum of Art, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Museum of Fine Art, Houston, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">Southwestern Bell, Dallas, Texas</div>
                                                </div>
                                                <div class="row">
                                                    <div class="span1"></div>
                                                    <div class="span11">El Centro College, Dallas, Texas</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="separator_max">
                            </div>
                        </div>
                            <!-- tab4_4 Links -->
                            <div class="tab-pane fade" id="tab4_4">

                           <div class="row-fluid">
                        	<div class="span12">
                        		<h2>Website Links</h2>
                        		<hr>
                        	</div>
                        </div>

                                <div class="row-fluid four_column">
                                    <div class="span 12">
                                        <div class="part">
                                            <div class="thumbnail-large">
                                                <img src="~/Content/images/artist/image31.jpg" data-no-retina class="img-rounded-mini" alt="Lisa Ehrich - Sculptor">
                                            </div>
                                            <h4>Lisa Ehrich</h4>
                                            <h5 class="tiny_font">Fine Arts Clay Sculptor </h5>
                                            <h5 class="highlight_color"><em>
                                                <a href="http://lisaehrich.com" target="_blank" title="Lise Ehrich website">lisaehrich.com</a></em></h5>
                                            <br />
                                            <hr class="separator_mini">
                                        </div>
                                        <div class="part">
                                            <div class="thumbnail-large">
                                                <img src="~/Content/images/artist/image32.jpg" data-no-retina class="img-rounded-mini" alt="Jim Bowman - Glass Sculptor">
                                            </div>
                                            <h4>Jim Bowman</h4>
                                            <h5 class="tiny_font">Glass Sculptor </h5>
                                            <h5 class="highlight_color"><em>
                                                <a href="http://www.bowmanglass.com/" target="_blank" title="Jim Bowman website">bowmanglass.com</a></em></h5>
                                            <br />
                                            <hr class="separator_mini">
                                        </div>

                                        <div class="part">
                                            <div class="thumbnail-med">
                                                <img src="~/Content/images/artist/image34.jpg" data-no-retina class="img-rounded-mini" alt="Evan Morris website">
                                            </div>
                                            <h4>Evan Morris</h4>
                                            <h5 class="tiny_font">Evan Morris</h5>
                                            <h5 class="highlight_color"><em>
                                                <a href="http://www.evanmorris.me/" target="_blank" title="Evan Morris website">evanmorris.me</a></em></h5>
                                            <br />
                                            <hr class="separator_mini">
                                        </div>
                                        <div class="part">
                                            <div class="thumbnail-mini">
                                                <img src="~/Content/images/artist/image33.jpg" data-no-retina class="img-rounded-mini" alt="The Extreme Wood Bending Company">
                                            </div>
                                            <h4>Chris Mortz</h4>
                                            <h5 class="tiny_font">Extreme Wood Bending Company</h5>
                                            <h5 class="highlight_color"><em>
                                                <a href="http://www.puretimber.com/" target="_blank" title="Extreme wood Bending website">puretimber.com</a></em></h5>
                                            <br />
                                            <hr class="separator_mini">
                                        </div>
                                        <hr class="separator_max">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    
 </div>


<!-- Contact page -->
    <div data-id="!Contact" class="contentWrapper contactPage darkStyle fullHeight removePadding  parallax" data-src="../Content/images/studio/studio8.jpg" >
  
      <hr class="top_space">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="fittext3 white_color">Rick Maxwell</h1>
                </div>
            </div>
        </div>

        <div class="bar_content transparent bottomSpace_mini">
            <div class="container">
                <div class="row">

                    <div class="span4">
                        <h2 class="upperCase bold_weight">Maxwell Studios</h2>
                        <h4><em>1419A Griffin Street East<br />
                            Dallas, Texas 75215
                        </em></h4>
                    </div>

                    <div class="span4">
                        <br />
                        <h4><em>Phone: 214.232.7524<br />
                        </em></h4>

                        <h4><em>Email: <a>maxwell2472@sbcglobal.net</a>
                        </em></h4>
                        <br />
                    </div>
                </div>
<hr class="separator_med" />
                <div class="row">
                    <div class="span12">
                        <h5 class="upperCase bold_weight">Tell me about your project:
                        </h5>
                        <hr>
                    </div>
                    <div class="span12">
                        <div class="row transparent bottomSpace_mini">
                            <!--Email contact Form-->
                            <form name="contact " method="post">
                                <div class="span3">
                                    <input type="text" value="Name" id="name" name="name" class="span3"
                                        onfocus="if(this.value == 'Name') {this.value = '';}"
                                        onblur="if (this.value == '') {this.value = 'Name';}" />
                                </div>
                                <div class="span3">
                                    <input type="text" value="Email" id="email" name="email" class="span3"
                                        onfocus="if(this.value == 'Email') {this.value = '';}"
                                        onblur="if (this.value == '') {this.value = 'Email';}" />
                                </div>

                                <div class="span12">
                                    <textarea cols="30" rows="5" id="comments" name="comments" class="span6"
                                        onfocus="if(this.value == 'Comments...') {this.value = '';}"
                                        onblur="if (this.value == '') {this.value = 'Comments...';}">Comments...</textarea>

                                </div>
                                <div class="span6">
                                    <button type="submit" id="email_submit" class="button transparent alignLeft">Send your Comments</button>
                                    <div id="reply_message"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="separator_max">
            </div>
        </div>
    </div>


<!-- Bottom area -->
    
<div data-id="!bottomArea" class="contentWrapper darkStyle backGround removePadding top_border">

         <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <h5 class="bold_weight">Quick link</h5>
                    <h6>
                        <a class="normal" href="#!home">Home</a><br>
                        <a class="normal" href="#!work">Work</a><br>
                        <a class="normal" href="#!videos">Videos</a><br>
                        <a class="normal" href="#!info">Info</a><br>
                        <a class="normal" href="#!contact">Contact</a><br>
                    </h6>
                </div>
            </div>

            <div class="separator_mini"></div>
            <hr>
        </div>
    </div>

</div>

