body, html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden !important;
}

body {
    -webkit-overflow-scrolling: touch;
}
a, a:hover, a:focus{
	text-decoration: none;
}
a:focus { 
    	outline: none; 
}
.animated{
	visibility: hidden;
}
.ease{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.ease:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.text-center > .img-responsive{
	display: block;
	display: inline-block;
}
p {
    color: #000;
    color: #121214;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: normal;
}

@media (min-width: 1024px) and (max-width: 5000px) {
    .container {
      /*  max-width: 960px;
       max-width: 1024px;*/
        padding-left: 0px;
        padding-right: 0px;
    }
}
.color {
    color: #c87432;
}

.colorRGBA{
color:rgba(200,116,50,0.7);
}
                        
.white{
color:#FFFFFF;
}
.softwhite{
color:#FAFAFA;
}
.whitegray{
color:#EBEBEB;
}
.silver{
color:#CCCCCC;
}
.dark{
    color:#888888;
}
.black{
    color:#121214;
}

.darkTrans{
    color:rgba(204,204,204,0.7);
}
.whiteTrans{
    color:rgba(255,255,255,0.7);
}


/*Common Spacing and Padding*/
.page-section{
	padding: 100px 0;
}
.separator-section{
	padding: 100px 0;
}
.add-top{
	margin-top: 120px;
}
.add-bottom{
	margin-bottom: 120px;
}
.add-top-half{
	margin-top: 60px;
}
.add-bottom-half{
	margin-bottom: 60px;
}
.add-top-quarter{
	margin-top: 30px;
}
.common-pad{
	padding: 60px;
}
.pad-top{
	padding-top: 120px;
}
.pad-bottom{
	padding-bottom: 120px;
}
.pad{
	padding-left: 20px;
	padding-right: 20px;
}
.remove-top{
	margin-top: 0;
}
.remove-bottom{
	margin-bottom: 0;
}
.remove-pad-top{
	padding-top: 0;
}
.remove-pad-bottom{
	padding-bottom: 0;
}

.mob-center > .img-responsive{
	display: inline-block;
}
.no-gutter{
	margin-left: -15px !important;
}
.no-pad{
	padding: 0 !important;
}
.valign{
	position: relative;
  	top: 50%;
    z-index: 100;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.showcase-panel .valign {
    position: relative;
    top: 30%;
    z-index: 100;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.absolute-overlay{
	position: absolute;
	top: 0;
	left: 0;
}
.poster-img{
	background:url(../images/poster.jpg) center center no-repeat !important;
	background-size: cover !important;
}

.bg-img {
    background-image: url(../images/homepg/home-panel-04.jpg);
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  /* min-height: 100%;
    min-width: 1024px;
    width: 100%;
    overflow: hidden;*/ 
}
/*Sticky Panels*/
.sticky-panel{
	position: fixed;
	z-index: 999;
}
.sticky-panel-top{
	top: 0;
	width: 100%;
	height: 20px;
}
.sticky-panel-right{
	top: 0;
	right: 0;
	height: 100%;
	width: 20px;
}
.sticky-panel-bottom{
	bottom: 0;
	width: 100%;
	height: 20px;
}
/* header */
#header{
    position:static;
    top: 0px;
    height: 48px;
    background-color:#c87432;
}
.rm-logo {
    position: absolute;
    top: 0;
    left:30px;
   padding: 1.5%;
    
}
.rm-logo img{
    height: 100px;
    width: auto;
 }

.head {
    width: 100%; 
}

nav { 
    width: 100%;
}
.nav-opener:before, .nav-opener:after, .nav-opener span {
    background: #cfc159;
    position: absolute;
    top: 41%;
    left: 0;
    right: 0;
    height: 2px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.nav-active .nav-opener span {
    opacity: 0;
}
.masthead {
   position:absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;

    background-position: center center;
    background-size: cover;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.logo-wrap{
    float:left;
    padding-left: 15px;
    top: 0;
    left: 0;
	-webkit-transition: all 1.5s ease-in-out;
	   -moz-transition: all 1.5s ease-in-out;
			 -o-transition: all 1.5s ease-in-out;
			transition: all 1.5s ease-in-out;
}
.nav-item-wrap{
	margin-top: 40px;
	margin-right: 100px;
	margin-left: 80px;
}
.main-nav-menu{
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.main-nav-menu li{
     padding: 0;
     margin-bottom: 10px;
     padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}
.main-nav-menu li a.main-nav-link{
     font-weight: 500;
     font-size: 16px;
     line-height: 21px;
     letter-spacing: 4px;
     text-decoration: none;
     text-transform: uppercase;
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
.main-nav-menu li a.main-nav-link:hover{
    -webkit-transition: all .8s linear;
       -moz-transition: all .8s linear;
         -o-transition: all .8s linear;
            transition: all .8s linear;
}
.sub-nav{
    display: none;
    padding: 0px;
    margin-top: 5px;
}
.sub-nav a{
     font-weight: 200;
     font-size: 14px;
     line-height: 21px;
     letter-spacing: 0px;
     text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
		 -o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
}
.sub-nav a:hover{
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
		 -o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
}
.sub-nav a:after{
    content: ' / ';
    margin-left: 3px;
    margin-right: 3px;
}
.sub-nav a:last-child:after{
    display: none;
}
.mastwrap { 
    width: 100%;
    height: auto;
    display: block;
}
.index-wrap { 
    height: 100%;
    display: block;
}
.sub-heading{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 10px;
}
.showcase-carousel{
	cursor: url("../images/drag.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.showcase-carousel .item{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.showcases-overlay{
	opacity: 0;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
.showcase-carousel .item:hover .showcases-overlay{
	opacity: 1;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
.showcases-overlay a{
	cursor: url("../images/view.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.showcases-overlay h1{
	margin-bottom: 40px;
}
.showcases-overlay h1>span{
	font-size: 32px;
	line-height: 39px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 8px;
	border:solid 5px;
	padding: 15px 15px 15px 23px;
}
.about-bg{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.about .promo-caps{
	font-size: 28px;
	line-height: 38px;
	font-weight: 200;
}
.about-content-split{
}
.bio-list {
    line-height: 24px;
    padding: 30px 20px;
}
.bio-list h3, .bio-list p{
    text-align: left;
    padding-left: 15px;
}

.profile-list{
	list-style: none;
	padding-left: 0;
}
.profile-list li{
	border-bottom: solid 1px;
	padding: 3px 0;
}
.profile-list li a{
	display: block;
}

/* WORKS*/

.works-filter-wrap{
	padding: 40px 0;
}
.works-filter{
    list-style: none;
    padding: 0;
    margin: 0px;
}
.works-filter li{
    display: inline-block;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li a > span{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 5px;
}
.works-filter li:hover{
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li:after{
   /* content: "|";*/
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.works-filter li a.active > span{
    background: #fff;
    color: #c87432;
    padding-left: 9px;
}
.works-filter li:last-child:after{
    display: none;
}

.works-container{
    padding: 0;
    margin-bottom: 80px;
}
.works-item {
  margin: 0 !important;
  padding: 10px !important;
  width: 33.3% !important;
}
       .works-item a{
       		background-color: rgba(255,255,255,0.8);
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px;
            position: absolute;
            top: 0;
            z-index: 100;
            text-align: center;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item a:hover, .works-item a:focus {
            opacity: 1;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .info a:hover{
            cursor: url("../images/plus.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
.zoom a:hover, .zoom a:focus {
    cursor: url("../images/zoom.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
        .works-item-inner{
            text-align: center;
        }
        .works-item-inner h3{ 
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 4px;
            line-height: 21px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
            .works-item-inner p {
                text-align: center;
            }  
            .works-item-inner p > span {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding: 7px;
            }

/*showcases*/
.showcase-single-item-wrap{
	padding: 50px;
}
 .showcase-single-item h1{ 
 	font-size: 24px;
 	line-height: 31px;
 	margin-top: 20px;
        }
 .showcase-single-item h2{ 
 	font-size: 36px;
 	line-height: 43px;
        }
 .showcase-single-item h2 > span{ 
 	text-transform: uppercase;
 	font-weight: 600;
        }
        .showcase-single-item h3{ 
        }
        .showcase-single-item p > span{  
            font-size: 18px;
            line-height: 25px;
            padding: 12px;
            text-transform: uppercase;
        }
.showcase-single-content{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.showcase-single-content h5{
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	margin-top: 38px;
	margin-bottom: 0;
	/*border-top: solid 5px;*/
	padding-top: 30px;
}
.showcase-single-content h4{
	font-weight: 200;
	font-size: 12px;
	line-height: 19px;
	margin-top: 0px;
}
.showcase-single-content h6>span{
	font-weight: 200;
	font-style: italic;
	padding: 3px;
}
.showcase-thumb-strip a{
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.showcase-thumb-strip a:hover{
			opacity: 0.4;
            cursor: url("../images/zoom.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.showcase-thumb-strip img {
   padding-bottom: 25px;
   margin: 0 auto;
}
/*CONTACT*/
.contact-bg {
    background-image: url(../images/background/bending-03.png);
    height: 100%;
     background-position: center top;
     background-repeat: no-repeat; 
     background-size: cover;
}
.contact h1 {
    color:silver;
}
.contact .promo-caps{
	font-size: 28px;
    letter-spacing: 4px;
	line-height: 34px;
    color: #c87432;
}
.contact-info{
    padding-top: 20px;
    color:#d2d2d2;
}
.contact-info  a{
    color: #c87432;
}
    .contact-info a:hover, .contact-info a:focus {
        color: #444;
    }

.contact-item{
    padding: 10px;
}
iframe, object, embed {
        max-width: 100%;
}
.address-heading{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 32px;
    text-transform: uppercase;
}
.address-heading a {
    color: #d2d2d2;
}
    .address-heading a:hover, .address-heading a:focus {
        color: #c87432;
    }
.btn-wrap{
    margin-top: 60px;
}
.space-left{
    margin-left: 1%;
}
/**showcase*/
.showcase-panel {
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
}

.showcase-panel-bg-01 {
    background-image: url(../images/homepg/home-panel-01.jpg);
}

.showcase-panel-bg-02 {
    background-image: url(../images/homepg/home-panel-02.jpg);
}

.showcase-panel-bg-03 {
    background-image: url(../images/homepg/home-panel-03.jpg);
}

/*ABOUT*/

.mastwrap .artist{
    padding-top: 40px;
}
.about-bg {
    background-color: #ebebeb;
}
.statement{
    line-height: 26px;
    text-align: left;
}
.page-heading {
    font-size: 38px;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 20px;    
    color: #c87432;
}
