
.showcase-panel-bg-01 {
    background-image: url(../images/homepg/home-panel-03.jpg);

}
.showcase-panel-bg-02 {
    background-image: url(../images/homepg/home-panel-01.jpg);
}
.showcase-panel-bg-03 {
    background-image: url(../images/homepg/home-panel-02.jpg);
}

/*ABOUT*/
.about-bg{
	background-color:#ebebeb;
}
