/*CONTACT*/
.contact-bg {
    background-image: url(../images/background/bending-3.jpg);
}
/*STUDIO*/
.studio-bg {
background-image: url('../images/background/cedars.jpg');
background-repeat: no-repeat;
background-position-x: center;
background-position-y: top;
background-size: 100%; 
}
.studio-shot-bg {
background-image: url('../images/background/bending-1.jpg');
background-repeat: no-repeat;
background-position-x: center;
background-position-y: top;
background-size: 35%; 
}
/*ABOUT*/
.about-bg{
	background-color:#ebebeb;
 /*   background-color:#c87432;*/
}