 .elastislide-wrapper,
.elastislide-wrapper img,
.elastislide-wrapper:after,
.elastislide-wrapper:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.carousel_container .carousel_thumbails{
	position:relative;
	display:block;
	}
/*tosca*/
.carousel_container .carousel{
	position:relative;
	display:block;
	}

.carousel_preview{
	position:relative;
	width:100%;
	overflow:hidden;	
}


.carousel_preview.mini{
	width:95%;
	margin-left:40px;
	font-size:14px;
}



@media only screen and (max-width: 769px) {
	.carousel_preview.mini{
		width:100%;
		margin-left: 0px !important;
      margin-right: 0px; /*tosca*/
		}
	}

.carousel_item{
	position:relative;
	display: none;
	clear:left;
    /*clear: right; tosca*/
	}
.carousel_container .elastislide-carousel ul li a img,
.carousel_container .elastislide-carousel ul li img {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}
.elastislide-wrapper nav span:hover {
	opacity: 1.0;
}

.elastislide-carousel ul li {
	max-width:100%;
}
.carousel li, .carousel_thumbails li{
 display:inline-block;
 margin: 0 auto;
 min-width: 100% !important;
 padding: 0;
}
.carousel_container img, .elastislide-carousel img{
	display: inherit;
    display: block;
    margin: 0 auto;
   /* width: 100%;*/	
}
@media (max-width: 979px) {
 .carousel_thumbails{
	width:150px;
	}
}	
/* Elastislide Style */
.elastislide-list {
	list-style-type: none;
	display: none;
}
.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 40px;
    margin: 0;
}

.elastislide-wrapper {
	position: relative;
	margin: 0 auto;
	min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
	background: url(../images/loader_black.gif) no-repeat center center;
	background-image: -Webkit-image-set(url(../images/loader_black.gif) 1x, url(../images/loader_black@2x.gif) 2x);  /* Image for Retina */
	background-position: center center;
}

.lightStyle .elastislide-wrapper.elastislide-loading {
	background: url(../images/loader_white.gif) no-repeat center center;
	background-image: -Webkit-image-set(url(../images/loader_white.gif) 1x, url(../images/loader_white@2x.gif) 2x);  /* Image for Retina */
	background-position: center center;
	}

.elastislide-horizontal {
	padding: 0px 40px;
	margin-bottom:5px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
	padding-bottom:1px;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
    max-height: 100%;/*tosca*/
    margin-bottom: 100px;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
    margin: 0 auto;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	/*height: 100%;*/
	display: inline-block;
}

.elastislide-carousel ul li {
	display: inline-block; 
}

.elastislide-carousel ul li img	{
    display: block;
	/*max-width: 100%;*/
  margin: 0 auto;
  max-height:initial;
 
}
	
/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #000 url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
	visibility:visible;
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 2px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 2px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}


/* Custom Elastislide Styling */

.elastic_slider .elastislide-horizontal {
	padding: 0px 37px 20px;
	border-radius: 10px/90px;
	
}

.elastic_slider .elastislide-horizontal ul li {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
    }
.elastic_slider .elastislide-horizontal ul li img {
	 display:block; 
 /*   width:auto !important; */ 
     margin: 0 auto !important;
 /* min-height:100% !important;*/	
}

.elastic_slider .elastislide-wrapper:before,
.elastic_slider .elastislide-wrapper:after{
	content: '';
	position: absolute;
	z-index: -2;
    top: 10px;
	bottom: 10px;
	left:  0;
    right: 0;
	border-radius: 10px/90px;
}

.elastic_slider .elastislide-wrapper:after {
	right: 20px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}




