/*.img-responsive {  
  display: block;  
  height: auto;  
  max-width: 100%;  
} */
.bio-background {
    background-image: url("../images/background/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    display: inline-block;   
}
.bio-background bar_content {
    margin: 17px;
    padding: 10px;    
}

 #ascrail2000 {
 background-color: rgb(220, 220, 220);
 opacity: 1;
 width: 20px;
 border-radius: 3px;
}

.home_slider_title4 {
    background-image: url("../images/bentwood/image10.jpg");
    background-repeat: no-repeat;
    display:block;
}
.bottom_bar {
    height: 30px;
    padding-top: 50px;
}
.text-center {
    text-align:center;
    color:#bf4015;
}

  /****** studio images @2x to display */
.feature img{   
  width: 100%;
height: auto;
display: block;       
}
 /****** carousel images **** 
.works-wrapper{
    height: 0;
    overflow: hidden;
     min-height: 100%;
     height: 100%;
    padding:0;
    margin: 0 auto;
    position: relative;
}*/
#carousel, #carousel ul, #carousel ul li {
            min-height: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
        }

        #carousel, #carousel02, #carousel03  {
            overflow: hidden;
            width: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul.animate, #carousel02 ul.animate,
        #carousel03 ul.animate{
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

       #carousel ul, #carousel02 ul, #carousel03 ul{
            -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
            transform: translate3d(0%,0,0) scale3d(1,1,1);
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul, #carousel02 ul, #carousel03 ul{
            -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            position: relative;
        }

        #carousel li, #carousel02 li, #carousel02{
            float: left;
            overflow: hidden;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: translate3d(0,0,0);
        }
        
        #carousel li h4,  #carousel02 li h4, #carousel03 li h4{
            color: #fff;
            font-size: 14px;
            text-align: center;
            position: absolute; 
            bottom: 0;
            width: 100%;
            text-shadow: -1px -1px 0 rgba(0,0,0,.2);
        }


.elastislide-list ul {
    position: relative;
    display: block;
    margin: auto;
}
.elastislide-list ul li { 
     position: absolute;
     display: block;   
    
    min-width: 100%;width: 100%;
    top: 0;
    left: 0;
}
.elastic_slider .carousel li{
    width: 100%;
}
li .desc {
    position: absolute;
     bottom: 0;
     display: inline-block;
     margin: 0 auto;
     margin-left: 20%;
    text-align: center;
    padding: 3px;
    background: #333;
    background: rgba(0,0,0,0.40);
}

/* Navigation Arrows */

.carousel-wrapper nav span {
	position: absolute;
	background: #000 url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
	visibility:visible;
}

.carousel-horizontal nav span {
	top: 50%;
	left: 2px;
	margin-top: -11px;
}

.carousel-horizontal nav span.carousel-next {
	right: 2px;
	left: auto;
	background-position: 4px -17px;
}

 @media only screen and (max-width: 479px) {
     ul.nav-tabs.plainTab > li > a {
         font-size: 14px;                
     }
    .tab-pane {
        margin: 0;
    } 
    .bar_content {
        margin-bottom: 0!important; 
        padding-bottom: 0!important;
    }
    li h4 .desc {
        font-size: 12px;
    }
}
@media only screen and (min-width: 767px) {
    ul.nav-tabs.plainTab > li > a {
        font-size: 16px;
    }

    .bio-background .bar_content {
        padding-left: 40px;
    }

    li .desc {
        margin: 2px auto;
        margin-left: 33%;
    }
}
    @media only screen and (min-width: 979px) {
     
    }
      
