
.bio-background {
    background-image: url("../images/background/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;   
}
.bio-background .row{
    padding: 0 0 10px;
    
}
.bio-background bar_content {
    margin: 17px;
    padding: 10px;    
}

 #ascrail2000 {
 background-color: rgb(220, 220, 220);
 opacity: 1;
 width: 20px;
 border-radius: 3px;
}

.home_slider_title4 {
    background-image: url("../images/bentwood/image10.jpg");
    background-repeat: no-repeat;
    display:block;
}
.bottom_bar {
    height: 30px;
    padding-top: 50px;
}
.text-center {
    text-align:center;
    color:#bf4015;
}

.feature img{   
    width: 100%;
    height: auto;
    display: block;       
}
.elastislide-list ul{
    max-height:700px;
}

.desc {
    display: block;
    text-align: right;
    padding: 3px;


}

 @media only screen and (max-width: 479px) {
     ul.nav-tabs.plainTab > li > a {
         font-size: 12px;
         margin-right: 10px;                
     }
    .tab-pane {
        margin: 0;
    } 
    .bar_content {
        margin-bottom: 0!important; 
        padding-bottom: 0!important;
    }
    .desc h5{
        font-size: 10px;
        font-weight: 500;
    }
}
@media only screen and (min-width: 767px) {
    ul.nav-tabs.plainTab > li > a {
        font-size: 14px;
        font-weight: bold;
    }
    
    elastic_slider li {
        max-height: 500px;
    }
    li .desc h5{
        float: right;
    }
}
 @media only screen and (min-width: 979px) {
    ul.nav-tabs.plainTab > li > a {
        font-size: 18px;
    }
    elastic_slider li {
        max-height: 700px;
    }
    li .desc h5{
        float: right;
    }
}
      
