
.bio {
    background-image: url("../images/background/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    font-size: 14px;  
}
.bio .span1, .bio span11 {
    margin: 0;
    padding: 0;
}
.bio .row{
    margin: 5px 0 0 10px;    
}
.bio .bar_content {
    padding: 10px;    
}
 #ascrail2000 {
 background-color: rgb(220, 220, 220);
 opacity: 1;
 width: 20px;
 border-radius: 3px;
}

.home_slider_title4 {
    background-image: url("../images/bentwood/image10.jpg");
    background-repeat: no-repeat;
    display:block;
}
.bottom_bar {
    height: 30px;
    padding-top: 50px;
}
.text-center {
    text-align:center;
    color:#bf4015;
}

.feature img{   
    width: 100%;
    height: auto;
    display: block;       
}
.elastislide-list ul{
    min-height:100%;
}
/* .elastislide-carousel ul li img {
       height: 400px;
    }*/
.elastic_slider li {
       max-height: 400px;
    }
    .elastic_slider li img {
            height: 370px;
    }
.desc {
    display: block;
    text-align: right;
    padding: 3px;
}

 @media only screen and (max-width: 479px) {
     ul.nav-tabs.plainTab > li > a {
         font-size: 12px;
         margin-right: 10px;                
     }
    .tab-pane {
        margin: 0;
    } 
    .bar_content {
        margin-bottom: 0!important; 
        padding-bottom: 0!important;
    }
    .desc h5{
        font-size: 10px;
        font-weight: 500;
    }
}
@media only screen and (min-width: 767px) {
    ul.nav-tabs.plainTab > li > a {
        font-size: 14px;
        font-weight: bold;
    } 
     .elastislide-carousel ul li img {
       height: 550px;
    }
     .elastic_slider li {
       max-height: 600px;
    }
     .elastic_slider li img {
        max-height: 550px;
        }
    li .desc h5{
        float: right;
    }
}
 @media only screen and (min-width: 979px) {
    ul.nav-tabs.plainTab > li > a {
        font-size: 18px;
    }
    .elastislide-carousel ul li img {
       height: 700px;
    }
    .elastic_slider li {
        max-height: 700px;
    }
    .elastic_slider li img {
            height: 650px;
        }
    li .desc h5{
        float: right;
    }
}
      
