/*.img-responsive {  
  display: block;  
  height: auto;  
  max-width: 100%;  
} */
.bio-background {
    background-image: url(../images/background/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    
}
 #ascrail2000 {
 background-color: rgb(220, 220, 220);
 opacity: 1;
 width: 20px;
 border-radius: 3px;
}
.pgScrollUp {
  /* border: #ffffff 2px solid;*/ 
}
.homepage_con image{
  /*  height:100%;*/
}
.bottom_bar {
    height: 30px;
    padding-top: 50px;
}
.text-center {
    text-align:center;
    color:#bf4015;
}

  /****** studio images @2x to display */
.feature img{   
  width: 100%;
height: auto;
display: block;       
}
 /****** carousel images **** 
.works-wrapper{
    height: 0;
    overflow: hidden;
     min-height: 100%;
     height: 100%;
    padding:0;
    margin: 0 auto;
    position: relative;
}*/
/*#carousel, #carousel ul, #carousel ul li {
            min-height: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
        }

    #carousel ul li{
        height: 700px;
    }
        #carousel, #carousel02, #carousel03  {
            overflow: hidden;
            width: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul.animate, #carousel02 ul.animate,
        #carousel03 ul.animate{
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

       #carousel ul, #carousel02 ul, #carousel03 ul{
            -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
            transform: translate3d(0%,0,0) scale3d(1,1,1);
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul, #carousel02 ul, #carousel03 ul{
            -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            position: relative;
        }

        #carousel li, #carousel02 li, #carousel02{
            float: left;
            overflow: hidden;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: translate3d(0,0,0);
        }
            #carousel img, #carousel02 img, #carousel03 img{
                height: 0;
                height: auto;
                max-width: 100%;
            }
        #carousel li h4,  #carousel02 li h4, #carousel03 li h4{
            color: #fff;
            font-size: 14px;
            text-align: center;
            position: absolute; 
            bottom: 0;
            width: 100%;
            text-shadow: -1px -1px 0 rgba(0,0,0,.2);
        }
*/

.elastislide-list ul {
    position: relative;
    margin: auto;
}
.elastislide-list ul li { 
     position: absolute;   
    height: 700px;
    width: 100%;
    min-width: 100%;
}
.desc {
    position: absolute;
    margin: 0 auto;
     bottom: 0; 
     vertical-align:middle; 
    text-align: center;
    padding: 3px;
    background: #333;
    background: rgba(0,0,0,0.50);
}


/*.elastislide-list ul li h5 {
    position:absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    background: rgba(0,0,0,0.60);
}*/

@media only screen and (min-width: 767px) {
    ul.nav-tabs.plainTab > li > a {
    font-size: 14px;
    }
}
    @media only screen and (min-width: 979px) {
     
    }
      @media only screen and (max-width: 479px) {
            ul.nav-tabs.plainTab > li > a {
                font-size: 12px;
            }
        }
