.tab-pane {
 margin: 0 0 15px 0;
}
.homepage_con image{
    height:100%;
}
.bottom_bar {
    height: 30px;
    padding-top: 50px;
}
#carousel, #carousel ul, #carousel li {
            min-height: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
        }

        #carousel {
            background: silver;
            overflow: hidden;
            width: 100%;
           height: 780px;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul.animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

        #carousel ul {
            -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
            -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
            transform: translate3d(0%,0,0) scale3d(1,1,1);
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-transform-style: preserve-3d;
        }

        #carousel ul {
            -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            position: relative;
        }

        #carousel li {
            float: left;
            overflow: hidden;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: translate3d(0,0,0);
            background: #000000;
        }
       
        #carousel li h2 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-shadow: -1px -1px 0 rgba(0,0,0,.2);
        }
            #carousel li img {
                height: 350px;
            }
.vcenter {
    margin-top: 25px;line-height: 30px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #homepage_con image {
        height: 400px;
    }
}
    @media only screen and (max-width: 479px) {
        #carousel li img {
            height: 400px;
        }
    }

    @media only screen and (min-width: 767px) {
        #carousel li img {
            height: 600px;
        }
    }

    @media only screen and (min-width: 979px) {
        #carousel li img {
            height: 720px;
        }
    }


    /* big-work */

    .big-work {
        position: relative;
        width: 16%;
        float: left;
    }

    @media only screen and (min-width: 767px) {
        ul.nav-tabs.plainTab > li > a {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 979px) {
        .big-work {
            width: 20%;
        }
    }


    @media only screen and (max-width: 479px) {
        .big-work {
            width: 20% !important;
        }
    }

/* .big-work active for portfolio filter - not using this*/
.controls .big-work .filter.active:hover h5, .controls .big-work .filter.active h5 {
    color: rgb(255, 150, 0);
}
.controls .big-work .filter {
    cursor: pointer;
}
.overlay {
    left: 2px;
    top: 2px;
    position: absolute;
    width: 98%;
    height: 98%;
    z-index: 10;
    opacity: 0;
    transition: opacity 180ms ease-in-out 0s;
}
/*.mfp-with-zoom.mfp-ready.mfp-bg {
opacity: 0.95;
}
@media (min-width: 1200px){

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000026657;
  overflow: hidden;
  position: fixed;
  background: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80); 
    }
}*/