body, html { 
    margin: 0; 
    overflow: hidden;
    -webkit-transition: opacity 400ms; 
    -moz-transition: opacity 400ms;
    transition: opacity 400ms; 
}
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body, .page-wrap, html { 
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #ebebeb; 
}
.row {
    margin-left: 0;
    margin-right: 0;
}
img {
    width:100%;
    height: auto;
}
.selector-for-some-widget { box-sizing: content-box; }

a, a:hover, a:focus { text-decoration: none; }
a:focus {  outline: none; 
}
.animated{
	visibility: hidden;
}

.w-30 {
width: 30%;
}
.ease{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.ease:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.text-center > .img-responsive{
	display: block;
	display: inline-block;
}
p {
    color: #121214;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
}
.bg { 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
}
.color { color: #c87432; }
.colorRGBA{ color:rgba(200,116,50,0.7); }                        
.softwhite{ color:#FAFAFA;  }
.whitegray-bg{ color:#ebebeb; }
.gray {color: #bdbdbd; }
.silver { color: #dddada; }
.dark{color:#888888; }
.black{ color:#121214; }
.mob-center > .img-responsive{
	display: inline-block; }

/****  page begins   ****/

.home-heading { 
    position: relative;
    font-size: 1.5rem; 
    letter-spacing: 7px; 
    text-align: center; 
    color: #c87432;  
    padding-top: 0.7rem; 
    padding-bottom: 0.9rem; }
/****  navbar  ***/
.nav-container { position: fixed; top: 5px; left: -5px; background-color: #4a525f; z-index: 1000; -webkit-transition: all 1.2s ease-in-out; transition: all 1.2s ease-in-out; }

.navbar-toggler {
   padding: 0;
   width: 1.7rem;
   height: 1.7em;
   border: none;
}
.navbar, .page-item { 
    border-top: 4px solid #c87432;
 }
.navbar-dark .navbar-brand { color: #c87432; text-align: center; letter-spacing: .4rem; }
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover { color: #a5622e; }
.navbar-dark .navbar-toggler:active { 
    color: rgba(0,0,0,.5); 
    border-color: none;  
}

.nav-link a {
    color: #c87432;    
}
.nav-link a:hover { color: #4a525f; }
.collapse.show { 
    text-align: right;
    background-color: none;
    
}
.page-wrap {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.page-item { 
   
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    width: 100%;
}
.home-container { 
    background-image: url("../images/homepg/home-panel-10.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 20%;
    height: 100%;
    min-height: 250px; }

.page-heading, .sub-heading {
    font-size: 1.5rem;
    letter-spacing: 7px;
    text-align: center;    
    color: #c87432;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}
.sub-heading{
    font-size: 1rem;
}
.statement{
    line-height: 26px;
    text-align: left;
    padding: 60px 60px 30px 60px;
}
.signature img{ 
    position: absolute;
     right:0;
     width: 70%; 
     padding: 15px;
}

.valign{
	position: relative;
  	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/***   works wrap    ****/
.works-wrap {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;

}
.works-desc { 
    position: relative;
    background-color:rgba(210, 210, 210, 1);
    padding: 17px;
    margin: 40% 30px 0 0; 
    -webkit-transition: all 0.55s ease-out;
    -moz-transition: all 0.55s ease-out; 
    transition: all 0.55s ease-out; 
}

.works-item {
    position: relative;
    margin: 7%;
}


/* header */
#header{
    position:static;
    top: 0px;
    height: 48px;
    background-color:#c87432;
}
/*.rm-logo {
    position: absolute;
    top: 0;
    left:30px;
   padding: 1.5%;   
}
.rm-logo img{
    height: 100px;
    width: auto;
 }*/

.sub-heading{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 200;
	bottom: 1rem;
}
.showcase-carousel{
	cursor: url("../images/drag.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
/*.showcase-carousel .item{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.showcases-overlay{
	opacity: 0;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
.showcase-carousel .item:hover .showcases-overlay{
	opacity: 1;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
.showcases-overlay a{
	cursor: url("../images/view.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.showcases-overlay h1{
	margin-bottom: 40px;
}
.showcases-overlay h1>span{
	font-size: 32px;
	line-height: 39px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 8px;
	border:solid 5px;
	padding: 15px 15px 15px 23px;
}*/
.about-bg{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.about .promo-caps{
	font-size: 28px;
	line-height: 38px;
	font-weight: 200;
}
.bio-list {
    line-height: 24px;
    padding: 30px 20px;
}
.bio-list h3, .bio-list p{
    text-align: left;
    padding-left: 15px;
}

.profile-list{
	list-style: none;
	padding-left: 0;
}
.profile-list li{
	border-bottom: solid 1px;
	padding: 3px 0;
}
.profile-list li a{
	display: block;
}

/* WORKS*/

.works-filter-wrap{
	padding: 30px 0;
}
.works-filter{
    list-style: none;
    padding: 0;
    margin: 0px;
}
.works-filter li{
    display: inline-block;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li a > span{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 5px;
}
.works-filter li:hover{
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: all .8s ease-in-out;
       -moz-transition: all .8s ease-in-out;
         -o-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
}
.works-filter li:after{
   /* content: "|";*/
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
.works-filter li a.active > span{
    color: #c87432;
    padding-left: 9px;
    opacity: 1;
    font-size: 1.1em;
    font-weight: bold; 
}
.works-filter li:last-child:after{
    display: none;
}

.works-container{
    padding: 0;
    margin-bottom: 80px;
}

       .works-item a{
       		background-color: rgba(255,255,255,0.8);
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            text-align: center;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
        .works-item a:hover, .works-item a:focus {
            opacity: 1;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        .info a:hover{
            cursor: url("../images/plus.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }
.zoom a:hover, .zoom a:focus {
    cursor: url("../images/zoom.png") 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
        .works-item-inner{
            text-align: center;
            padding: 7px;
        }
        .works-item-inner h3{ 
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 4px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
            .works-item-inner p {
                text-align: center;
            }  
            .works-item-inner p > span {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding: 7px;
            }

.vbox-overlay{ background: #dee2e6;
}
.vbox-title{ font-size: 1.2em; }

/*showcases*/
.showcase-single-item-wrap { padding: 50px; }
 .showcase-single-item h1{ 
 	font-size: 24px;
 	line-height: 31px;
 	margin-top: 20px;
        }
 .showcase-single-item h2{ 
 	font-size: 36px;
 	line-height: 43px;
        }
 .showcase-single-item h2 > span{ 
 	text-transform: uppercase;
 	font-weight: 600;
        }
        .showcase-single-item h3{ 
        }
        .showcase-single-item p > span{  
            font-size: 18px;
            line-height: 25px;
            padding: 12px;
            text-transform: uppercase;
        }
.showcase-single-content{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.showcase-single-content h5{
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	margin-top: 38px;
	margin-bottom: 0;
	/*border-top: solid 5px;*/
	padding-top: 30px;
}
.showcase-single-content h4{
	font-weight: 200;
	font-size: 12px;
	line-height: 19px;
	margin-top: 0px;
}
.showcase-single-content h6>span{
	font-weight: 200;
	font-style: italic;
	padding: 3px;
}
.showcase-thumb-strip a{
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.showcase-thumb-strip a:hover{
			opacity: 0.4;
            cursor: url("../images/zoom.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.showcase-thumb-strip img {
   padding-bottom: 25px;
   margin: 0 auto;
}
/*CONTACT*/
.contact-bg {
    background-image: url(../images/background/bending-03.png);
    height: 100%;
     background-position: center top;
     background-repeat: no-repeat; 
     background-size: cover;
}
.contact h1 {
    color:silver;
}
.contact .promo-caps{
	font-size: 28px;
    letter-spacing: 4px;
	line-height: 34px;
    color: #c87432;
}
.contact-info{
    padding-top: 20px;
    color:#d2d2d2;
}
.contact-info  a{
    color: #c87432;
}
    .contact-info a:hover, .contact-info a:focus {
        color: #444;
    }

.contact-item{
    padding: 10px;
}
iframe, object, embed {
        max-width: 100%;
}
.address-heading{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 32px;
    text-transform: uppercase;
}
.address-heading a {
    color: #d2d2d2;
}
    .address-heading a:hover, .address-heading a:focus {
        color: #c87432;
    }
.btn-wrap{
    margin-top: 60px;
}
.space-left{
    margin-left: 1%;
}
/*ABOUT*/
.about-bg {
    background-color: #ebebeb;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body { background-color: aqua; }
    .home-container { min-height: 300px; }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    body { background-color: blueviolet; }
    .home-heading, .page-heading, .sub-heading { font-size: 2rem;}
    .home-container { min-height: 350px; }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 922px) { 
    body { background-color: darksalmon; }
   .home-container { min-height: 375px; }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    body { background-color: navajowhite; }
    .home-container {min-height: 400px; }
}
/* * { outline: 1px solid red; }*/