body, html { 
    margin: 0; 
    overflow: hidden;
}
html { box-sizing: border-box; }
/**, *:before, *:after { box-sizing: inherit; }*/

body, .page-wrap, html { display: block; position: static; padding: 0; width: 100%; height: 100%; font-family: 'Open Sans', sans-serif; font-weight: 400; overflow-x: hidden; -webkit-overflow-scrolling: touch; background-color: #dad7d7; }
.row {
    margin-left: -15px;
    margin-right: -15px;
}
img {
    width:100%;
    height: auto;
}

a, a:hover, a:focus { text-decoration: none; }
a:focus {  outline: none; }
.animated{
	visibility: hidden;}
.w-30 {
width: 30%;
}
.ease{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.ease:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.text-center > .img-responsive{
	display: block;
	display: inline-block;
}
p {
    color: #121214;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
}

.bg { overflow: hidden; background-repeat: no-repeat; background-position: center 15%; background-attachment: fixed; background-size: contain; min-height: 140px;}
.bg-collapse { 
    background-color: rgba(210, 210, 210, 1);
}
.color { color: #c87432; }
.colorRGBA{ color:rgba(200,116,50,0.7); }                        
.softwhite{ color:#FAFAFA;  }
.whitegray-bg{ color:#ebebeb; }
.gray {color: #bdbdbd; }
.silver { color: #dddada; }
.dark{color:#888888; }
.black{ color:#121214; }
.mob-center > .img-responsive{
	display: inline-block; }

/****  page begins   ****/

.home-heading { 
    position: relative;
    font-size: 1.5rem; 
    letter-spacing: 7px; 
    text-align: center; 
    color: #c87432;  
    padding-top: 0.7rem; 
    padding-bottom: 0.9rem; }
/****  navbar  ***/
.fixed-top { position: fixed; top: 0; left: 5px; right: 5px; background-color: #4a525f; -webkit-transition: all 1.2s ease-in-out; transition: all 1.2s ease-in-out; }

.navbar-toggler { padding: 0; width: 1.7rem; height: 1.7em; border: none; }
.navbar, .page-item { 
    border-top: 4px solid #c87432;
 }
.navbar-dark .navbar-brand { color: #c87432; font-size: 1.7rem; text-align: center; letter-spacing: .4rem; line-height: 1.1; padding: 0 10px }
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover { color: #a5622e; }
.navbar-dark .navbar-toggler:active { 
    color: rgba(0,0,0,.5); 
    border-color: none;  
}
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,.7); }
.navbar-nav li {
    padding: 0 7px;
}
.navbar-nav li a { -webkit-transition: transform 0.5s linear; -moz-transition: transform 0.5s linear; -o-transition: transform 0.5s linear; transition: transform 0.5s linear; }
.navbar-nav li a:active { transform: translateY(15px); }
.nav-link a { color: #c87432; }
.nav-link a:hover { color: #4a525f; }
.collapse .navbar-collapse { 
    background-color: rgba(58, 64, 74, 0.40);    
}
.nav ::after { 
    clear: both;
}
.page-wrap {
    padding-top: 90px; 
    position: relative; 
}
/*.page-wrap .section { position: relative; top: auto; left: auto; }*/
.page-item { padding: 70px 0 0 0; display: block; overflow: hidden; position: relative; width: 100%; }
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    width: 100%;
}
.home-container { 
    background-image: url("../images/homepg/home-panel-portrait2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    width: 100%;
    height: 100%;
    min-height: 40rem; }

.page-heading, .sub-heading {
    font-size: 1.5rem;
    letter-spacing: 7px;
    text-align: center;    
    color: #c87432;
}
.sub-heading{
    font-size: 1rem;
}
.statement{
    line-height: 26px;
    text-align: left;
    padding: 17px 17px;
}
.signature img{ 
    position: absolute;
     right:0;
     width: 70%; 
     padding: 0 15px;
}
.valign{
	position: relative;
  	top: 20%;
	-webkit-transform: translateY(-20%);
  	-ms-transform: translateY(-20%);
  	transform: translateY(-20%);
}
.works-wrap {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
}
.works-desc { position: relative; background-color: rgb(52, 58, 64); padding: 17px; top: 17%; /*-webkit-transform: translateY(-10%); -ms-transform: translateY(-10%); transform: translateY(-10%);*/ }
    .works-desc p { color: rgba(255,255,255,.7); }
.works-item {
    position: relative;
    padding-bottom: 60px;
}
.works-item img { border: 0 0 5px 1px #888888; }
#header{
    position:static;
    top: 0px;
    height: 48px;
    background-color:#c87432;
}
.sub-heading{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 200;
	bottom: 1rem;
}
.about-bg{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.about .promo-caps{
	font-size: 28px;
	line-height: 38px;
	font-weight: 200;
}
.bio-list {
    line-height: 24px;
    padding: 30px 20px;
}
.bio-list h3, .bio-list p{
    text-align: left;
    padding-left: 15px;
}
.profile-list{
	list-style: none;
	padding-left: 0;
}
.profile-list li{
	border-bottom: solid 1px;
	padding: 3px 0;
}
.profile-list li a{
	display: block;
}
.contact-bg {
    background-image: url(../images/background/bending-03.png);
     background-position: 30% top;
     background-repeat: no-repeat; 
     background-size: cover;
  background-attachment: initial;
     background-color: transparent !important; 
     min-height: inherit;
     height: 100%;
}
.contact h1 {
    color:silver;
}
.contact .promo-caps{
	font-size: 28px;
    letter-spacing: 4px;
	line-height: 34px;
    color: #c87432;
}
.contact-info { padding-top: 20px; color: #d2d2d2; z-index: 55; backface-visibility: hidden; }
.contact-info a { color: #c87432; }
    .contact-info a:hover, .contact-info a:focus {
        color: #444;
    }
.contact-item{ padding: 10px; }
iframe, object, embed {
        max-width: 100%;
}
.address-heading{
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 32px;
    text-transform: uppercase;
}
    .address-heading a { color: #a29a9a; }
        .address-heading a:hover, .address-heading a:focus { color: #c87432; }
.btn-wrap{
    margin-top: 60px;
}
/*ABOUT*/
.about-bg {
    background-color: #ebebeb;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .home-container { background-position: center 15%; min-height: 25rem; background-attachment: initial; }
    .contact-bg { background-attachment: initial; }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .home-container { min-height: 25rem; }
    .home-heading, .page-heading { font-size: 2rem;}
    .sub-heading { font-size: 1.5rem;}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 922px) {
    .home-container { background-image: url("../images/homepg/home-panel-10.jpg"); background-position: 60% 70%; background-attachment: fixed; min-height: 70rem; }
    .contact-bg { background-attachment: fixed; }
} 
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .home-container { background-position: center 50%; min-height: 43rem; }
    .statement { line-height: 26px; text-align: left; padding: 60px 60px 30px 60px; }   
}
/* * { outline: 1px solid red; }*/