.rm-nav{
   position: absolute;
    top: 0;
    width: 100%;
    z-index:100;
    height: 48px;  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.menu-collapser {
    position: relative;
    background-color: #d2d2d2;
    border-bottom: 5px ridge #c87432;
     color: #444;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
    .collapse-button {
        position: absolute;
        right: 8px;
        top: 50%;
        width: 40px;
        background-repeat: repeat-x;
        color: #ff0000;
        padding: 7px 10px;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #c0c0be;
    color: #000;
}
.collapse-button .icon-bar {
    background-color: #000;
    border-radius: 1px 1px 1px 1px;
    display: block;
    height: 1px;
    width: 18px;
    margin: 5px 0;
}

ul.slimmenu {
    list-style-type: none;
   position:absolute;
   right:10px;
   top: 26px;
   z-index: 2000;
    margin: 0;
    padding: 0;
}
    ul.slimmenu li {
        position: relative;
        display: inline-block;
        background-color: #d2d2d2;
        margin:5px;
        border-radius: 5px;
    }
ul.slimmenu > li { margin-right: -5px; }
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
    ul.slimmenu li a {
        display: block;
        color: rgba(0, 0, 0, .7);
        padding: 5px;
       /* font-size: 14px;
        line-height: 20px;*/
        text-transform: uppercase;
        text-align:center;
        letter-spacing: 2px;
        text-shadow: none;
        transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
    }
ul.slimmenu li a > i{
    display: none !important;
}
    ul.slimmenu li:hover, ul.slimmenu li:active {
        background-color: #c87432;
        text-decoration: none;
    }
/*ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #fcfcfc; padding-left: 20px; }

ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
*/

ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    border-bottom: 2px solid #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
  /*  background-color: #d2d2d2;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
    padding: 0;
    list-style: none;
}
